<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{destination}} List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">{{destination}} List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/instructor-dashboard"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table  #table [dataSource]="upcomingCoursesList" matSort class="mat-cell db-tbl ins-db week-rtn">               
                  <ng-container matColumnDef="ser">
                    <mat-header-cell class="ser-col" *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                    <mat-cell class="ser-col" *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container>    
        
                  <ng-container matColumnDef="durationForm">
                    <mat-header-cell class="scl-col" *matHeaderCellDef mat-sort-header>School Name </mat-header-cell>
                    <mat-cell class="scl-col" *matCellDef="let element"> {{element.schoolName}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="durationTo">
                    <mat-header-cell class="duration-col" *matHeaderCellDef mat-sort-header>Duration </mat-header-cell>
                    <mat-cell class="duration-col" *matCellDef="let element"> {{element.periodName}} Period ({{element.durationForm}}-{{element.durationTo}}) </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="subjectName">
                    <mat-header-cell class="course-col" *matHeaderCellDef mat-sort-header> course </mat-header-cell>
                    <mat-cell class="course-col" *matCellDef="let element"> {{element.course}}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="classLocation">
                    <mat-header-cell class="date-col" *matHeaderCellDef mat-sort-header>Date </mat-header-cell>
                    <mat-cell class="date-col" *matCellDef="let element"> {{element.date | date:'mediumDate'}} </mat-cell>
                  </ng-container>
    
                  <!-- <ng-container matColumnDef="subject">
                    <mat-header-cell class="subject-col" *matHeaderCellDef mat-sort-header>Subject </mat-header-cell>
                    <mat-cell class="subject-col" *matCellDef="let element"> {{element.subjectName}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="location">
                    <mat-header-cell class="location-col" *matHeaderCellDef mat-sort-header>Class Location </mat-header-cell>
                    <mat-cell class="location-col" *matCellDef="let element"> {{element.classLocation}}  </mat-cell>
                  </ng-container> -->
                  
                  <mat-header-row *matHeaderRowDef="displayedRoutineColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedRoutineColumns;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

