<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Course Plan Create</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul> 
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="CourseplanCreateForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Course Duration</mat-label>                        
                            <mat-select formControlName="courseDurationId" required>
                                <mat-option *ngFor="let course of selectedcourseduration" [value]="course.value">
                                    {{course.text}} 
                                  </mat-option>                          
                            </mat-select>
                             <mat-error *ngIf="CourseplanCreateForm.get('courseDurationId').hasError('required')">
                              Course Duration is Required!
                            </mat-error>
                        </mat-form-field>
                      </div> -->
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Course Name</mat-label>                        
                            <mat-select formControlName="courseNameId">
                                <mat-option *ngFor="let course of selectedcoursename" [value]="course.value">
                                    {{course.text}} 
                                  </mat-option>                          
                            </mat-select>
                            <mat-error *ngIf="CourseplanCreateForm.get('courseNameId').hasError('required')">
                              Course Name is Required!
                            </mat-error>
                        </mat-form-field>
                      </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Base School Name</mat-label>                        
                            <mat-select formControlName="baseSchoolNameId">
                                <mat-option *ngFor="let school of selectedbaseschool" [value]="school.value">
                                    {{school.text}} 
                                  </mat-option>                          
                            </mat-select>
                            <!-- <mat-error *ngIf="CourseplanCreateForm.get('baseSchoolNameId').hasError('required')">
                              Base School Name is Required!
                            </mat-error> -->
                        </mat-form-field>
                      </div>

                    <table class="table table-bordered" formArrayName="courseplanlist">  
                      <tr>  
                        <th colspan="2">Add Multiple Course Plan:</th>  
                        <th width="150px"><button type="button" (click)="addCoursePlan()" class="btn btn-primary">Add More</button></th>  
                      </tr>  
                      <tr *ngFor="let quantity of coursePlanCreates().controls; let i=index" [formGroupName]="i">  
                        <td>  
                          Course Plan Name :  
                            <input type="text" formControlName="coursePlanName" class="form-control">  
                        </td>  
                        <td>  
                            Value :  
                            <input type="text" formControlName="value" class="form-control">  
                        </td>  
                        <td>  
                            <button (click)="removeCoursePlan(i)" class="btn btn-danger">Remove</button>  
                        </td>  
                      </tr>  
                    </table>  
                  
                    <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!CourseplanCreateForm.valid " mat-raised-button
                            color="primary">{{buttonText}}</button>
                        <button type="button" mat-button routerLink="/bnacourse-management/bnacourseplancreate-list">Cancel</button>
                    </div>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

