<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">BNA Exam Attendance</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div> 
            <div class="body">
              <form class="m-4" [formGroup]="BNAExamAttendanceForm" (ngSubmit)="onSubmit()">
                <div class="row">              
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>School Name</mat-label>                        
                        <mat-select formControlName="baseSchoolNameId" (selectionChange)="onBaseSchoolNameSelectionChangeGetCourse($event.value)">
                            <mat-option *ngFor="let dropdown of selectedbaseschools" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>                   
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Name</mat-label>                        
                        <mat-select formControlName="courseNameId" (selectionChange)="onCourseNameSelectionChangeGetClassPeriod()">
                          <mat-option  value="0">--Select--</mat-option >
                          <mat-option *ngFor="let dropdown of selectedCourse" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <!-- <mat-error *ngIf="AttendanceForm.get('courseNameId').hasError('required')">
                          Course Name is Required!
                        </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Class Period</mat-label>                        
                        <mat-select formControlName="classPeriodId" (selectionChange)="onClassPeriodSelectionChangeGetCourseDuration()">
                          <mat-option  value="0">--Select--</mat-option >
                          <mat-option *ngFor="let dropdown of selectedClassPeriodByBaseSchoolNameIdAndCourseNameId" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <!-- <mat-error *ngIf="AttendanceForm.get('classPeriodId').hasError('required')">
                          Class Period is Required!
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Exam Type </mat-label>                        
                        <mat-select formControlName="examTypeId">
                            <mat-option *ngFor="let dropdown of selectedexamtype" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <!-- <mat-error *ngIf="BNAExamAttendanceForm.get('examTypeId').hasError('required')">
                          Exam Type is Required!
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Exam Date</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="examDate" >
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                       <mat-datepicker #datepicker></mat-datepicker>  
                       <!-- <mat-error *ngIf="BNAExamAttendanceForm.get('examDate').hasError('required')">
                        Exam Date is Required
                      </mat-error>                                           -->
                    </mat-form-field>
                  </div>


                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Is Approved</mat-label>                        
                        <input matInput formControlName="isApproved" >
                    </mat-form-field>
                  </div> -->

                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Aproved User</mat-label>                        
                        <input matInput formControlName="aprovedUser" >
                    </mat-form-field>
                  </div>   -->
<!-- 
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>approvedDate</mat-label>
                        <input matInput [matDatepicker]="apicker" formControlName="approvedDate" >
                        <mat-datepicker-toggle matSuffix [for]="apicker"></mat-datepicker-toggle>
                       <mat-datepicker #apicker></mat-datepicker>
                    </mat-form-field>
                  </div> -->


                    
                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Status</mat-label>                        
                        <input matInput formControlName="status" >                        
                    </mat-form-field>
                  </div> --> 
                </div> 
               

                <h4 class="text-center">Trainee List</h4>
                <!-- </div> -->
                <div class="container mt-2" formGroupName="traineeList">
                  <mat-table #table [dataSource]="traineeNominationListForAttendance" matSort class="mat-cell">               
                    <ng-container matColumnDef="ser">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                      <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                    </ng-container>    
  
                    <!-- <ng-container matColumnDef="courseDuration">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Course Duration</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.courseDuration}} </mat-cell>
                    </ng-container>
  
                    <ng-container matColumnDef="courseName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
                    </ng-container> traineePNo-->
  
                    <ng-container matColumnDef="traineePNo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Trainee PNO</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.traineePNo}}                      
                    </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="traineeName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.traineeName}}                      
                    </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="bnaAttendanceRemarksId">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Attendance Remarks</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select formControlName="bnaAttendanceRemarksId">
                              <mat-option *ngFor="let dropdown of selectedbnaattendanceremark" [value]="dropdown.value">
                                  {{dropdown.text}} 
                                </mat-option>                          
                          </mat-select>
                      </mat-form-field>                    
                    </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="attendanceStatus">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Attendance</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <mat-checkbox formControlName="attendanceStatus" #checkBox  (change)="onCheckboxChange($event)" [ngClass]="'tbl-checkbox'">
                        
                        </mat-checkbox>
                    </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                        <button mat-icon-button color="accent" class="btn-tbl-edit" 
                        [routerLink]="['/attendance-management/update-attendance', row.attendanceId]">
                          <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                          (click)="deleteItem(row)">
                          <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                        </button>
                      </mat-cell>
                    </ng-container>
  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                   </mat-table>
                </div>             
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!BNAExamAttendanceForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/attendance-management/bnaexamattendance-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

