<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Course Budget Allocation</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="CourseBudgetAllocationForm" (ngSubmit)="onSubmit()">
                <div class="row">

                  <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Type</mat-label>                        
                        <mat-select formControlName="courseTypeId" required>
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedBudgetCode" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="CourseBudgetAllocationForm.get('courseTypeId').hasError('required')">
                          Budget Code is Required!
                        </mat-error>
                    </mat-form-field>
                  </div> -->

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Name</mat-label>                        
                        <mat-select formControlName="courseNamesId" required>
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option  (onSelectionChange)="onCourseNameSelectionChange($event)"  *ngFor="let dropdown of selectedCourseDuration" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <!-- <mat-error *ngIf="CourseBudgetAllocationForm.get('courseNameId').hasError('required')">
                          Budget Code is Required!
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Trainee</mat-label>                        
                      <input formControlName="trainee" matInput type="text" [matAutocomplete]="auto" required />
                      <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onCourseSelectionChanged(item)">
                          {{item.text}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error *ngIf="CourseBudgetAllocationForm.get('traineeId').hasError('required')">
                        Select Any Course
                      </mat-error>
                  </mat-form-field>
                  </div> -->

                  <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Trainee Id</mat-label>                        
                      <input matInput formControlName="traineeId" required>
                    </mat-form-field>
                  </div> -->

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Trainee</mat-label>                        
                        <mat-select formControlName="traineeId" required>
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option (onSelectionChange)="onTraineeSelectionChange($event)" *ngFor="let dropdown of selectedTrainee" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                    </mat-form-field>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Budget Code</mat-label>                        
                        <mat-select formControlName="budgetCodesId" required>
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option (onSelectionChange)="onBudgetCodeSelectionChange($event)" *ngFor="let dropdown of selectedBudgetCode" [value]="dropdown">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Payment Type</mat-label>                        
                        <mat-select formControlName="paymentTypeId" required>
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedPaymentType" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="CourseBudgetAllocationForm.get('paymentTypeId').hasError('required')">
                          Budget Code is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Amount/Installment Amount</mat-label>                        
                      <input matInput formControlName="installmentAmount" required>
                      <mat-error *ngIf="CourseBudgetAllocationForm.get('installmentAmount').hasError('required')">
                        Budget Code Name is Required!
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Installment/Due Remittance Date</mat-label>
                        <input matInput [matDatepicker]="frompicker" formControlName="nextInstallmentDate" >
                        <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                       <mat-datepicker #frompicker></mat-datepicker>                                            
                    </mat-form-field>
                  </div> 

                  <!-- <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-2">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-2">
                      <h5>Available Balance: </h5>
                    </div>
                  </div> -->

                  <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Available Balance</mat-label>                        
                      <input readonly="true" matInput formControlName="presentBalance">
                    </mat-form-field>this.targetAmount
                  </div> -->

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <h4>Total Budget :  <span style="color: green; font-weight: bold;">{{this.totalBudget}}</span> </h4>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <h4>Available Amount:<span style="color: green; font-weight: bold;">{{this.availableAmount}}</span> </h4>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <h4>Due Remittance:<span style="color: green; font-weight: bold;">{{this.targetAmount}}</span>  </h4>
                  </div>

                  
                </div> 
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!CourseBudgetAllocationForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                    <!-- <button type="button" mat-button routerLink="/budget-management/coursebudgetallocation-list">Cancel</button> -->
                  </div>
                </div>
              </form>

              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">               
                <ng-container matColumnDef="ser">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                </ng-container>    

                <ng-container matColumnDef="traineeName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Trainee</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.traineeName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="budgetCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Budget Code</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.budgetCode}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="paymentType">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Type</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.paymentType}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="installmentAmount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.installmentAmount}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nextInstallmentDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule Date</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nextInstallmentDate | date:'mediumDate'}} </mat-cell>
                </ng-container>
              <!-- //  *ngIf="row.familyAllowId == 'Yes '" --> 

              <!-- <mat-cell class="sub-col" *matCellDef="let row">
                <span style="color: green; font-weight: bold;" *ngIf="row.foreignCourseGOInfoId">Complete</span>
                <span style="color: red; font-weight: bold;" *ngIf="!row.foreignCourseGOInfoId">Pending</span>
              </mat-cell> -->

                <ng-container   matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                     <!-- {{element.status==0 ?'pending':'paid'}}  -->
                     <span style="color: red; font-weight: bold;" *ngIf="element.status==0">Due</span>
                     <span style="color: green; font-weight: bold;" *ngIf="!element.status==0">Paid</span>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="installmentDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>InstallmentDate</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.installmentDate}} </mat-cell>
                </ng-container> -->
                
                <!-- <ng-container matColumnDef="presentBalance">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>PresentBalance</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.presentBalance}} </mat-cell>
                </ng-container> -->

                
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                    <!-- <button mat-icon-button color="accent" class="btn-tbl-edit" 
                    [routerLink]="['/budget-management/update-coursebudgetallocation', row.courseBudgetAllocationId]">
                      <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                    </button> -->
                    <button *ngIf="row.status == 0" mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                      (click)="deleteItem(row)">
                      <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               </mat-table>
          
               <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
              [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
              (page)="pageChanged($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

