<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">CodeValue</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            
  
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="CodeValueForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>CodeValue name</mat-label>
                      <input matInput formControlName="code" required>
                      <mat-error *ngIf="CodeValueForm.get('code').hasError('required')">
                        CodeValue name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
               <!--
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>CodeValue Type</mat-label>
                      <input matInput formControlName="codeValueTypeId" required>
                      <mat-error *ngIf="CodeValueForm.get('codeValueTypeId').hasError('required')">
                        CodeValue Type is required
                      </mat-error>
                    </mat-form-field>
               -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>CodeValue Type</mat-label>
                        
                        <mat-select formControlName="codeValueTypeId" required>
                            <mat-option *ngFor="let code of selectedModel" [value]="code.value">
                                {{code.text}}
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="CodeValueForm.get('codeValueTypeId').hasError('required')">
                            Select Any Code Value Type
                        </mat-error>
                    </mat-form-field>
                </div>
              
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Type Value</mat-label>
                      <input matInput formControlName="typeValue">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Additional Value</mat-label>
                      <input matInput formControlName="additonalValue">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Display Code</mat-label>
                      <input matInput formControlName="displayCode">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <input matInput formControlName="remarks">
                    </mat-form-field>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!CodeValueForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/basic-setup/codevalue-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

