<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Trainee Assessment Group</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Trainee Assessment Group List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table reading-materials">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                        <li class="dropdown">
                          <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                          aria-label="Search box">
                        </li>
                        <li> 
                          <div class="icon-button-demo m-l-10">
                            <button mat-mini-fab color="accent" (click)="applyFilter(searchText)">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <!-- <button class="btn-space"  mat-raised-button
                            color="primary" routerLink="/trainee-assessment/add-traineeassessmentcreate"> Add
                              <mat-icon class="col-white">add</mat-icon>
                            </button> -->
                            <button  class="btn-space"  mat-raised-button color="warn" (click)="backClicked()"> 
                              <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button> 
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                 
                <table class="table tbl-by-group db-li-s-in">
                  <thead>
                    <tr>
                      <th class="cl-mrk-rmrk-act-library"><h5>Trainee</h5></th>
                      <th class="book-category"><h5>Status</h5></th>
                      <th class="cl-action"><h5>Action</h5></th>  
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let number of this.traineeAssessmentGroupList">
                        <td>
                          {{number.position}} {{number.traineeName}} (P No {{number.pno}})
                        </td>
                        <td>
                          <!-- {{number.status}} -->
                          <span *ngIf="number.status == 0" style="color:red;font-weight: bold;">Pending</span>
                          <span *ngIf="number.status == 1" style="color:green;font-weight: bold;">Submitted</span>
                        </td>
                        
                        <td class="actions-cell">
                          <div fxLayout="row" fxLayoutGap="20px">
                            <!-- <button mat-icon-button color="accent" title="Return" class="btn-tbl-delete btndelete" (click)="returnItem(number.bookInformationId)">
                              <mat-icon aria-label="Delete" class="col-white view">cached</mat-icon>
                            </button> -->
                            <button *ngIf="number.status == 1" mat-icon-button class="btn-tbl-view" title="Assessment Mark Details" [routerLink]="['/trainee-assessment/traineeassessmentmarkbytrainee-list',number.courseDurationId, number.traineeAssissmentCreateId, number.traineeId]">
                              <mat-icon aria-label="Edit" class="col-white">visibility</mat-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                    <!-- </ng-container> -->
                  </tbody>
                </table>
            
                 <!-- <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
                </mat-paginator> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

