      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Educational Qualification</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="EducationalQualificationForm" (ngSubmit)="onSubmit()">
                <div class="row">

                  <div hidden class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Trainee Id</mat-label>
                      <input matInput formControlName="traineeId" required>
                      <mat-error *ngIf="EducationalQualificationForm.get('traineeId').hasError('required')">
                        Trainee name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Exam Type</mat-label>
                      <mat-select formControlName="examTypeId" required>
                        <mat-option *ngFor="let code of examTypeValues" [value]="code.value">
                            {{code.text}}
                        </mat-option>                          
                      </mat-select>
                      <mat-error *ngIf="EducationalQualificationForm.get('examTypeId').hasError('required')">
                        Exam Type is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Board</mat-label>
                      <mat-select formControlName="boardId" required>
                        <mat-option *ngFor="let code of boardValues" [value]="code.value">
                            {{code.text}}
                        </mat-option>                          
                      </mat-select>
                      <mat-error *ngIf="EducationalQualificationForm.get('boardId').hasError('required')">
                        Board is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="address" >                      
                    </mat-form-field>
                  </div> -->
                  <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Subject</mat-label>
                      <input matInput formControlName="subject" >                      
                    </mat-form-field>
                  </div> -->
                  <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Institute Name</mat-label>
                      <input matInput formControlName="instituteName" >                      
                    </mat-form-field>
                  </div> -->
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Group</mat-label>
                      <mat-select formControlName="groupId" required>
                        <mat-option *ngFor="let code of groupValues" [value]="code.value">
                            {{code.text}}
                        </mat-option>                          
                      </mat-select>
                      <mat-error *ngIf="EducationalQualificationForm.get('groupId').hasError('required')">
                        Group is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Passing Year</mat-label>
                      <input matInput formControlName="passingYear" >                      
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Result</mat-label>
                      <input matInput formControlName="result" required>
                      <mat-error *ngIf="EducationalQualificationForm.get('result').hasError('required')">
                        Result is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Out Of Result</mat-label>
                      <input matInput formControlName="outOfResult" >                      
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Duration</mat-label>
                      <input matInput formControlName="courseDuration" >                      
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Additional Information</mat-label>
                      <input matInput formControlName="additionaInformation" >                      
                    </mat-form-field>
                  </div> -->
                  <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>status</mat-label>
                      <input matInput formControlName="status" >                      
                    </mat-form-field>
                  </div> -->
                  
                 
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!EducationalQualificationForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button [routerLink]="['/trainee-biodata/sailor-biodata-tab/main-tab-layout/main-tab/educational-qualification-details', this.traineeId]">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  


