<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Create Interservice Course</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="CourseDurationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                 

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Name</mat-label>                        
                        <input formControlName="course" matInput type="text" [matAutocomplete]="auto" />
                        <mat-autocomplete #auto="matAutocomplete" >
                          <mat-option *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onCourseSelectionChanged(item)">
                            {{item.text}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Title</mat-label>                        
                        <input matInput formControlName="courseTitle" required>
                        <mat-error *ngIf="CourseDurationForm.get('courseTitle').hasError('required')">
                          Course Title is Required
                        </mat-error>
                    </mat-form-field>
                  </div> 

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Organization Name</mat-label>                        
                        <input formControlName="name" matInput type="text" [matAutocomplete]="auto1" />
                        <mat-autocomplete #auto1="matAutocomplete" >
                          <mat-option (onSelectionChange)="onOrganizationNameSelectionChange($event)"  *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onOrganizationSelectionChanged(item)">
                            {{item.text}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Duration From</mat-label>
                        <input matInput [matDatepicker]="frompicker" formControlName="durationFrom" required>
                        <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                       <mat-datepicker #frompicker></mat-datepicker>                                            
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Duration To</mat-label>
                        <input matInput [matDatepicker]="topicker" formControlName="durationTo" required>
                        <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
                        <mat-error *ngIf="CourseDurationForm.get('remark').hasError('required')">
                          Duration To is Required
                        </mat-error>
                       <mat-datepicker #topicker></mat-datepicker>                                            
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Remark</mat-label>                        
                        <input matInput formControlName="remark" >
                    </mat-form-field>
                  </div> 
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!CourseDurationForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/inter-service/interservicecourse-list">Cancel</button>
                  </div>
                </div>
              </form>
              <div  *ngIf="isShown"  class="row create-table">
                  <h3 class="text-center table-title">Inter Service LIST</h3>
                  <div class="container">
                    <mat-table #table [dataSource]="interServiceList" matSort class="mat-cell tbl-local">
                      <ng-container matColumnDef="ser">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) * paging.pageSize) +
                          i+1}} </mat-cell>
                      </ng-container>
      
                      <ng-container matColumnDef="courseName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Course Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="organizationName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Organization Name</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.organizationName}} </mat-cell>
                      </ng-container>
      
                      <ng-container matColumnDef="durationFrom">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Duration From</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.durationFrom | date:'mediumDate'}} </mat-cell>
                      </ng-container>
      
                      <ng-container matColumnDef="durationTo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Duration To </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.durationTo | date:'mediumDate'}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="isCompletedStatus">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button mat-raised-button class="custom-btn courseplan-btn"  (click)="stopInterService(element)"
                            (click)="$event.stopPropagation()">{{ element.isCompletedStatus == 0 ? 'Running' : 'Stop'}}
                          </button>
                        </mat-cell>
                      </ng-container>
      
                      <ng-container matColumnDef="actions">
                        <mat-header-cell ngClass="custom-action local" *matHeaderCellDef class="pr-0">Actions
                        </mat-header-cell>
                        <mat-cell ngClass="custom-action local" *matCellDef="let row; let i=index;" class="pr-0">
      
                          <button mat-icon-button class="btn-tbl-nomination" title="Nomination"
                            [routerLink]="['/inter-service/traineenomination-list', row.courseDurationId]">
                            <mat-icon aria-label="Edit" class="col-white">supervisor_account</mat-icon>
                          </button>
      
                          <button mat-icon-button color="accent" title="Edit" class="btn-custom btn-tbl-edit"
                            [routerLink]="['/inter-service/update-interservicecourse', row.courseDurationId]">
                            <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                          </button>
      
                          <button mat-icon-button color="accent" title="Delete" class="btn-tbl-delete btn-custom"
                            (click)="$event.stopPropagation()" (click)="deleteItem(row)">
                            <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                          </button>
                        </mat-cell>
                      </ng-container>
      
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

