<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Subject Module List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1"> 
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;"> Subject Module List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                        <li class="dropdown">
                          
                        </li>
                        <li> 
                          <div class="icon-button-demo m-l-10">
                            
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/trainee-dashboard"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                      </ul>
                    </div>
                  </div>
                </div>

            

              <mat-table  #table [dataSource]="CourseModuleByCourseName" matSort class=" mat-cell db-tbl s-db-t-6 stu-db">               
                <ng-container matColumnDef="ser">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                </ng-container>    
      
                <ng-container matColumnDef="moduleName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Module </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.moduleName}} </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="nameOfModule">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name of Module </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nameOfModule}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="actions">
                  <mat-header-cell ngClass="custom-action local" *matHeaderCellDef class="pr-0">Subject</mat-header-cell>
                  <mat-cell ngClass="custom-action local" *matCellDef="let row; let i=index;" class="pr-0">
                    <!-- <button mat-icon-button class="btn-tbl-nomination" title="Subject Instructor List" [routerLink]="['/admin/dashboard/view-subjectinstructors',row.baseSchoolNameId ,row.courseDurationId, row.courseNameId]">
                      <mat-icon aria-label="Edit" class="col-white">wc</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" title="Course Routine List" class="btn-tbl-view" 
                      [routerLink]="['/admin/dashboard/routinebycourse-list', row.baseSchoolNameId, row.courseNameId, row.courseDurationId]">
                      <mat-icon aria-label="Edit" class="col-white">book</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-nomination" title="Nomination" [routerLink]="['/admin/dashboard/traineenomination-list', row.courseDurationId]">
                      <mat-icon aria-label="Edit" class="col-white">supervisor_account</mat-icon>
                    </button> -->
                    <button mat-icon-button color="accent" title="Course Subject List" class="btn-tbl-view" 
                    [routerLink]="['/admin/dashboard/view-subjectbymodule', row.baseSchoolNameId, row.courseNameId, row.courseModuleId]">
                      <mat-icon aria-label="Edit" class="col-white">book</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
      
                <mat-header-row *matHeaderRowDef="displayedCourseModuleColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedCourseModuleColumns;"></mat-row>
              </mat-table>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

