<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title"> Subject List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1"> 
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;"> Subject List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                        <li class="dropdown">
                          
                        </li>
                        <li> 
                          <div class="icon-button-demo m-l-10">
                            
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button *ngIf="dbType == 1" class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/Jcoexamlistindashboard-list"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                            
                            <button *ngIf="dbType != 1" class="btn-space"  mat-raised-button
                            color="warn" routerLink="/jcos-training/add-jcostraining"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                      </ul>
                    </div>
                  </div>
                </div>

              <!-- <mat-table #table [dataSource]="subjectNameList" matSort class="mat-cell">
                <ng-container matColumnDef="paperNo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Paper No </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.paperNo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="subjectName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Subject Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.subjectName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="totalMark">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Total Mark</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.totalMark}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="passMarkBna">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Pass Mark</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.passMarkBna}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="qExamTime">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.qExamTime}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="remarks">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
                </ng-container>
                
 
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table> -->
              <div id="print-routine">
              <table class="table  tbl-by-group db-tbl">
                <thead>
                  <tr>
                    <!-- <th class="cl-srl"><h5>Ser</h5></th> -->
                    <th class="cl-srl"><h5>Branch</h5></th>
                    <th class="cl-nm-rnk"><h5>Subject Name</h5></th>
                    <th class="cl-mrk"><h5>Total Mark</h5></th>
                    <th class="cl-mrk"><h5>Pass Mark</h5></th>
                    <th class="cl-mrk"><h5>Exam Date</h5></th>
                    <th class="cl-mrk"><h5>Exam Time</h5></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let data of groupArrays;let i= index;">
                    <tr>
                      <td [attr.rowspan]="data.courses.length + 1">{{data.branchName}}</td>
                    </tr>
                    <tr *ngFor="let number of data.courses;">
                      <td>{{number.subjectName}}</td>
                      <td>{{number.totalMark}}</td>
                      <td>{{number.passMarkBNA}}</td>
                      <td>{{number.examDate | date:'mediumDate'}}</td>
                      <td>{{number.qExamTime}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left m-t-20">
              <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                <mat-icon class="col-white">print</mat-icon>
              </button>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

