<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li> 
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Password Change</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            
            <div class="body">
              <form class="m-4" [formGroup]="PasswordUpdateForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Current Password</mat-label>
                      <input matInput formControlName="shortCode" >
                      
                    </mat-form-field>
                  </div> -->
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Current Password</mat-label>
                        <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="currentPassword">
                        <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide1 = !hide1"
                          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                      </mat-form-field>
                    </div>
                  </div>
            
             <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="newPassword">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide2 = !hide2"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                </mat-form-field>
              </div>
             </div>
            
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hide3 ? 'password' : 'text'" formControlName="confirmPassword">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide3 = !hide3"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                    <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                </mat-form-field>
              </div>
            </div>
       
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!PasswordUpdateForm.valid " mat-raised-button
                      color="primary">Passoword Change</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  