<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      <a class="navbar-brand" routerLink={{homePage}}>
        <img src="assets/images/logo.png" alt="" class="main-logo" />
        <!--<span class="logo-name">DNT</span>-->
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="float-start collapse-menu-icon head-title">
        <li class="header-shape-list"><div class="shape dashboard-menu"></div></li>
        <li>
          <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
            <mat-icon>menu</mat-icon>
          </button>
        </li>
        <li class="head-title-name">BN TRAINING MANAGEMENT SOFTWARE</li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Full Screen Button -->
        <!-- <li class="fullscreen">
          <button mat-icon-button (click)="callFullscreen()" class=" nav-notification-icons">
            <mat-icon>fullscreen</mat-icon>
          </button>
        </li> -->
        <!-- #END# Full Screen Button -->
        <!-- <li class="nav-item" ngbDropdown> -->
          <!-- <img src="assets/images/flags/bn.png" alt="" height="20" /> -->
          <!--<a ngbDropdownToggle class="lang-dropdown">
            <img *ngIf="flagvalue !== undefined" src="{{flagvalue}}" height="16">
            <img *ngIf="flagvalue === undefined" src="{{defaultFlag}}" height="16">
          </a>
          <div ngbDropdownMenu class="dropdown-menu lang-item dropdown-menu-right pullDown">
            <a href="javascript:void(0);" class="dropdown-item lang-item-list" *ngFor="let item of listLang"
              (click)="setLanguage(item.text, item.lang, item.flag)"
              [ngClass]="{'active': langStoreValue === item.lang}">
              <img src="{{item.flag}}" class="flag-img" height="12"> <span class="align-middle">{{item.text}}</span>
            </a>
          </div>-->
        <!-- </li> -->
        <!-- #START# Notifications-->


        <li *ngIf="role == userRole.Student" class="nav-item" ngbDropdown>
          <!-- <button [routerLink]="['/admin/dashboard/school-history']" title="History" mat-icon-button ngbDropdownToggle class="nav-notification-icons" >
            <img src="../../../assets/images/app-icon/material.png" class="syllabus-icon">
          </button> -->
          <a [routerLink]="['/admin/dashboard/routinesoftcopytrainee-list']" onClick="return false;" ngbDropdownToggle role="button" class="nav-notification-icons pt-0">
            <img src="../../../assets/images/icons/routine.png" class="rounded-circle" width="38" height="38" alt="User">
            <!-- <img src="assets/images/main.jpg" class="rounded-circle" width="32" height="32" alt="User" /> -->
          </a>
        </li>

        <li *ngIf="role == userRole.Student || role == userRole.Instructor || role == userRole.SuperAdmin || role === userRole.BNASchool || role === userRole.JSTISchool || role == userRole.SchoolOIC" class="nav-item" ngbDropdown>
          <!-- <button [routerLink]="['/admin/dashboard/school-history']" title="History" mat-icon-button ngbDropdownToggle class="nav-notification-icons" >
            <img src="../../../assets/images/app-icon/material.png" class="syllabus-icon">
          </button> -->
          <a [routerLink]="['/admin/dashboard/school-history']" onClick="return false;" ngbDropdownToggle role="button" class="nav-notification-icons pt-0">
            <img src="../../../assets/images/icons/history.png" class="rounded-circle" width="32" height="32" alt="User">
            <!-- <img src="assets/images/main.jpg" class="rounded-circle" width="32" height="32" alt="User" /> -->
          </a>
        </li>
        <!-- #END# Notifications-->
        <li class="nav-item user_profile" ngbDropdown>
          <a href="#" onClick="return false;" ngbDropdownToggle role="button" class="nav-notification-icons pt-0">
            <img src={{userImg}} class="rounded-circle" width="32" height="32" alt="User">
            <!-- <img src="assets/images/main.jpg" class="rounded-circle" width="32" height="32" alt="User" /> -->
          </a>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div class="noti-list" style="position: relative; max-width: 600px; max-height: 300px;" [perfectScrollbar]>
              <ul class="menu">
                <li class="body">
                  <ul class="user_dw_menu">
                    <li>
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="msr-2">person</mat-icon>Profile
                      </a>
                    </li>
                    <!-- <li>
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="msr-2">feedback</mat-icon>Feedback
                      </a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="msr-2">help</mat-icon>Help
                      </a>
                    </li> -->
                    <li>
                      <a href="javascript:void(0);" (click)="logout()">
                        <mat-icon aria-hidden="false" class="msr-2">power_settings_new</mat-icon>Logout
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- #END# Tasks -->
        <li class="float-end">
          <button mat-icon-button (click)="toggleRightSidebar()" class="nav-notification-icons js-right-sidebar">
            <mat-icon id="settingBtn">settings</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


