<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{pageTitle}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Subject Name</a>
            </li>
            <li class="breadcrumb-item active">{{destination}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
          </div>
          <div class="body">
            <hr>
            <form class="m-4" [formGroup]="BnaSubjectNameForm" (ngSubmit)="onSubmit()">
              <div class="row">

               
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Name</mat-label>                        
                      <mat-select formControlName="courseNameId" required>
                          <mat-option *ngFor="let dropdown of selectedCourseName" [value]="dropdown.value">
                              {{dropdown.text}} 
                            </mat-option>                          
                      </mat-select>
                      <mat-error *ngIf="BnaSubjectNameForm.get('courseNameId').hasError('required')">
                        Course Name  is Required!
                      </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2"> 
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Subject Name</mat-label>
                    <input matInput formControlName="subjectName" required>
                    <mat-error *ngIf="BnaSubjectNameForm.get('subjectName').hasError('required')">
                      SubjectName is required
                    </mat-error>
                  </mat-form-field>
                </div>

                

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2"> 
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Total Mark</mat-label>
                    <input matInput formControlName="totalMark">
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2"> 
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Pass Mark BNA</mat-label>
                    <input matInput formControlName="passMarkBna">
                  </mat-form-field>
                </div>
             
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!BnaSubjectNameForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/inter-service/bnasubjectname-list">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
