<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Course Name</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="CourseNameForm" (ngSubmit)="onSubmit()">
                <div class="row">


                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Type</mat-label>
                        <mat-select formControlName="courseTypeId" required>
                            <mat-option *ngFor="let code of selectedCourseType" [value]="code.value">
                                {{code.text}}
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="CourseNameForm.get('courseTypeId').hasError('required')">
                          Division is required
                        </mat-error>
                    </mat-form-field>
                </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Name</mat-label>
                      <input matInput formControlName="course" required>
                      <mat-error *ngIf="CourseNameForm.get('course').hasError('required')">
                        Course Name  is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Short Name</mat-label>
                      <input matInput formControlName="shortName" required>
                      <mat-error *ngIf="CourseNameForm.get('shortName').hasError('required')">
                        Short Name  is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Syllabus(Browse)</mat-label>                        
                        <!-- <input matInput formControlName="documentLink"> -->
                        <ngx-mat-file-input (change)="onFileChanged($event)" accept=".txt,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx">
                        </ngx-mat-file-input>
                        <mat-icon matSuffix>attachment</mat-icon>
                    </mat-form-field>
                  </div> 
                  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Syllabus</mat-label>
                      <input matInput formControlName="courseSyllabus" >
                    </mat-form-field>
                  </div> -->


                </div>
            
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!CourseNameForm.valid " mat-raised-button
                      color="primary">{{btnText}}</button>
                    <button type="button" mat-button routerLink="/basic-setup/coursename-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  