<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{ pageTitle }}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"
                ><i class="fas fa-home"></i
              ></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Installment Paid Detail</a>
            </li>
            <li class="breadcrumb-item active">{{ destination }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header"></div>
          <div class="body">
            <form
              class="m-4"
              [formGroup]="InstallmentPaidDetailForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>trainee Id</mat-label>                        
                      <input matInput formControlName="traineeId" required>
                      <mat-error *ngIf="InstallmentPaidDetailForm.get('traineeId').hasError('required')">
                        traineeId is Required!
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>course Duration Id</mat-label>                        
                      <input matInput formControlName="courseDurationId" >
                      <mat-error *ngIf="InstallmentPaidDetailForm.get('courseDurationId').hasError('required')">
                        courseDurationId is Required!
                      </mat-error>
                    </mat-form-field>
                  </div>

                  
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Payment Details</mat-label>                       
                        <mat-select formControlName="paymentDetailId" required> 
                            <mat-option *ngFor="let  paymentdetails of paymentdetailValues" [value]="paymentdetails.value">
                                {{paymentdetails.text}}   
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="InstallmentPaidDetailForm.get('paymentDetailId').hasError('required')">
                          Payment Details is required
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>totalUsd</mat-label>                        
                      <input matInput formControlName="totalUsd" >
                      <mat-error *ngIf="InstallmentPaidDetailForm.get('totalUsd').hasError('required')">
                        totalUsd is Required!
                      </mat-error>
                    </mat-form-field>
                  </div> -->

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Total BDT</mat-label>
                    <input matInput formControlName="totalBdt" required/>
                    <mat-error
                      *ngIf="InstallmentPaidDetailForm.get('totalBdt').hasError('required')">
                      totalBdt is Required!
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline">
                    <mat-label>Schedule Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="apicker"
                      formControlName="scheduleDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="apicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #apicker></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>payment Completed Status</mat-label>
                      <input matInput formControlName="totalBdt" >
                    </mat-form-field>
                  </div>
                  

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>remarks</mat-label>                        
                      <input matInput formControlName="remarks" >
                      <mat-error *ngIf="InstallmentPaidDetailForm.get('remarks').hasError('required')">
                        totalBdt is Required!
                      </mat-error>
                    </mat-form-field>
                  </div> -->
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading"  [disabled]="!InstallmentPaidDetailForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                    {{ buttonText }}
                  </button>
                  <!-- <button
                    type="button"
                    mat-button
                    routerLink="/foreign-training/installmentpaiddetail-list"
                  >
                    Cancel
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
