<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Trainee Nomination NBCD</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="TraineeNominationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Course</mat-label>                        
                          <mat-select formControlName="courseDurationId"  (selectionChange)="onCourseSelectionChange()" required>
                            <mat-option  value="0">--Select--</mat-option >
                              <mat-option *ngFor="let course of selectedRunningCourse" [value]="course.courseDurationId">
                                  {{course.course}}_{{course.courseTitle}}
                                </mat-option>                          
                          </mat-select>
                        
                      </mat-form-field>
                    </div>


                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Trainee</mat-label>                        
                          <input formControlName="traineeName" matInput type="text" [matAutocomplete]="auto" />
                          <mat-autocomplete #auto="matAutocomplete" >
                            <mat-option *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onTraineeSelectionChanged(item)">
                              {{item.text}}
                            </mat-option>
                          </mat-autocomplete>
                      </mat-form-field>
                    </div>
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!TraineeNominationForm.valid " mat-raised-button
                        color="primary">Save</button>
                        <!-- [routerLink]="['/course-management/add-traineenomination', this.courseDurationId,this.courseNameId]"
                    <button type="button" mat-button [routerLink]="['/course-management/traineenomination-list',this.courseDurationId]">Cancel</button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader syllabus"> 
                  <div class="row">
                    <div class="col-8">
                      <div class="heading">
                        <!-- <p style="margin-bottom: 10px;">School:- {{schoolName}}</p>
                        <p style="margin-bottom: 10px;">Course:- {{courseName}} - {{courseTitle}}</p> -->
                      </div>
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">

                        </li>
                        
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
               
                <div id="print-routine">
                  <table  class="tblinterserviceList">
                    <thead>
                      <tr>
                        <th class="th-cell-ser th-cell-durationform">S. No</th>
                        <th class="th-cell-durationform">P. No </th>
                        <th class="th-cell-durationform">Name </th>
                        <th class="th-cell-durationform">Rank </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let data of nominatedPercentageListForNbcd; let i = index" >
                      
                        <tr >
                          <td class="td-cell">
                            {{i+1}}
                          </td>
                          <td class="td-cell">{{data.pno}}</td>
                          <td class="td-cell">{{data.name}}</td>
                          <td class="td-cell">{{data.position}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left m-t-20">
                  <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                    <mat-icon class="col-white">print</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

