<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Class Period Create</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="ClassPeriodForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  
                  
                  <div *ngIf="role != userRole.SuperAdmin && role != userRole.BNASchool && role != userRole.JSTISchool" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label> School Name</mat-label>                        
                        <mat-select formControlName="baseSchoolNameId" required>
                            <mat-option *ngFor="let dropdown of selectedbaseschool" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="ClassPeriodForm.get('baseSchoolNameId').hasError('required')">
                           School Name is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course</mat-label>                        
                      <input formControlName="course" matInput type="text" [matAutocomplete]="auto" required />
                      <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onCourseSelectionChanged(item)">
                          {{item.text}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error *ngIf="ClassPeriodForm.get('courseNameId').hasError('required')">
                        Select Any Course
                      </mat-error>
                  </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-43col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Period Name</mat-label>                        
                        <input matInput formControlName="periodName" required>
                        <mat-error *ngIf="ClassPeriodForm.get('periodName').hasError('required')">
                          Period Name is Required
                        </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>  Event</mat-label>                        
                        <mat-select formControlName="bnaClassScheduleStatusId" required>
                            <mat-option *ngFor="let dropdown of selectedcoursestatus" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="ClassPeriodForm.get('bnaClassScheduleStatusId').hasError('required')">
                          Event is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>
                  
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Duration Form</mat-label>                        
                        <input matInput formControlName="durationForm" >
                    </mat-form-field>
                  </div>
                  
                  

                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Duration To</mat-label>                        
                        <input matInput formControlName="durationTo" >
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Menu Position</mat-label>                        
                        <input matInput formControlName="menuPosition">
                        <!-- <mat-error *ngIf="ClassPeriodForm.get('periodName').hasError('required')">
                          Menu Position is Required
                        </mat-error> -->
                    </mat-form-field>
                  </div>
                  
                </div> 

               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!ClassPeriodForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                        <button *ngIf="isEditMode" class="btn-space"  mat-raised-button
                        color="warn" routerLink="/routine-management/add-classperiod"> 
                        Back
                        </button>
                    <!-- <button type="button" mat-button routerLink="/routine-management/classperiod-list">Cancel</button> -->
                  </div>
                </div>
              </form>

              <div  *ngIf="isShown"  class="row create-table">
                <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-left"> -->
                  <h3 class="text-center table-title">CLASS PERIOD LIST</h3>
                  <!-- </div> -->
                  <div class="container">
                    <mat-table #table [dataSource]="GetPeriodListByParameter" matSort class="mat-cell">               
                      <ng-container matColumnDef="ser">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                      </ng-container>    
    
                      <ng-container matColumnDef="periodName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Period Name</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.periodName}} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="bnaClassScheduleStatus">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Event</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.bnaClassScheduleStatus}} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="durationForm">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Duration Form</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.durationForm }} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="durationTo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Duration To</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.durationTo }} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="menuPosition">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Menu Position</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.menuPosition }} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                          <button mat-icon-button color="accent" class="btn-tbl-edit" 
                          [routerLink]="['/routine-management/update-classperiod', row.classPeriodId]">
                            <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                            (click)="deleteItem(row)">
                            <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                          </button>
                        </mat-cell>
                      </ng-container>
                      
    
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

