              <div class="responsive_table">
                <div class="materialTableHeader">
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                          <h4>Joining Reason</h4>
                        </li>
                      </ul> 
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li> 
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/trainee-biodata/trainee-biodata-tab/main-tab-layout/main-tab/joining-reason-details', this.traineeId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                            <button class="btn-space"  mat-raised-button
                            color="primary" [routerLink]="['/trainee-biodata/trainee-biodata-tab/main-tab-layout/main-tab/update-joining-reason-details',  this.traineeId,this.joiningReasonId]"> Update
                              <mat-icon class="col-white">update</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <table class="table table-bordered">
                  <thead>
                    
                  </thead>
                  <tbody>
                    <tr>
                      <!-- <th scope="row">Trainee Id</th>
                      <td>{{traineeId}}</td> -->
                      <th scope="row">Reason Type</th>
                      <td>{{reasonTypeName}}</td>
                      <th scope="row">Another Reason</th>
                      <td>{{ifAnotherReason}}</td>
                    </tr>
                    <tr>
                       
                      <th scope="row">Additional Information</th>
                      <td colspan="3">{{additionlInformation}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
  
  
  
   


