
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Trainee Membership</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="TraineeMembershipForm" (ngSubmit)="onSubmit()">
                <div class="row">

                  <div hidden class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Trainee Id</mat-label>
                      <input matInput formControlName="traineeId" required>
                      <mat-error *ngIf="TraineeMembershipForm.get('traineeId').hasError('required')">
                        Trainee name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Org Name</mat-label>
                      <input matInput formControlName="orgName" required> 
                      <mat-error *ngIf="TraineeMembershipForm.get('orgName').hasError('required')">
                        Org Name is required
                      </mat-error>                     
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>membershipTypeId</mat-label>
                      <input matInput formControlName="membershipTypeId" required> 
                      <mat-error *ngIf="TraineeMembershipForm.get('membershipTypeId').hasError('required')">
                        membership Type is required
                      </mat-error>                     
                    </mat-form-field>
                  </div> -->

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Membership Type</mat-label>
                        
                        <mat-select formControlName="membershipTypeId" required>
                            <mat-option *ngFor="let code of membershipTypeValues" [value]="code.value">
                                {{code.text}}
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="TraineeMembershipForm.get('membershipTypeId').hasError('required')">
                          Membership Type is required
                        </mat-error>
                    </mat-form-field> 
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Brief Address</mat-label>
                      <input matInput formControlName="briefAddress" required> 
                      <mat-error *ngIf="TraineeMembershipForm.get('briefAddress').hasError('required')">
                        Brief Address is required
                      </mat-error>                     
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Appointment</mat-label>
                      <input matInput formControlName="appointment" required> 
                      <mat-error *ngIf="TraineeMembershipForm.get('appointment').hasError('required')">
                        Appointment is required
                      </mat-error>                     
                    </mat-form-field>
                  </div>
                                  
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Duration From</mat-label>
                        <input matInput [matDatepicker]="frompicker" formControlName="durationFrom" required>
                        <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                       <mat-datepicker #frompicker></mat-datepicker>                                            
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Duration To</mat-label>
                        <input matInput [matDatepicker]="topicker" formControlName="durationTo" required>
                        <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
                       <mat-datepicker #topicker></mat-datepicker>                                            
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Additional Information</mat-label>
                      <input matInput formControlName="additionalInformation" >                      
                    </mat-form-field>
                  </div>
                  
                 
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!TraineeMembershipForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button [routerLink]="['/trainee-biodata/trainee-biodata-tab/main-tab-layout/main-tab/trainee-membership-details', this.traineeId]">Cancel</button>
                    
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
  


