<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{pageTitle}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Subject Name</a>
            </li>
            <li class="breadcrumb-item active">{{destination}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
          </div>
          <div class="body">
            <hr>
            <form class="m-4" [formGroup]="BNASubjectNameForm" (ngSubmit)="onSubmit()">
              <div class="row">
                
                <!-- <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="branchId" required>
                      <mat-option  value="0">--Select--</mat-option >
                      <mat-option (onSelectionChange)="onBranchSelectionChange($event)" *ngFor="let branch of selectedBranch" [value]="branch.value">
                        {{branch.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="BNASubjectNameForm.get('branchId').hasError('required')">
                      Select Any Branch
                    </mat-error>
                  </mat-form-field>
                </div> -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Sailor Branch</mat-label>
                    <mat-select formControlName="saylorBranchId" required (selectionChange)="onBranchSelectionChangegetSubBranch($event.value)">
                      <mat-option  value="0">--Select--</mat-option >
                      <mat-option (onSelectionChange)="onBranchSelectionChange($event)" *ngFor="let code of selectedSaylorBranch" [value]="code.value">
                          {{code.text}}
                      </mat-option>                          
                    </mat-select>
                    <mat-error *ngIf="BNASubjectNameForm.get('saylorBranchId').hasError('required')">
                      Sailor Branch is required
                    </mat-error>
                  </mat-form-field>
                </div>
               
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Sailor Sub Branch</mat-label>
                    <mat-select formControlName="saylorSubBranchId" required>
                      <mat-option  value="0">--Select--</mat-option >
                      <mat-option *ngFor="let code of selectedSaylorSubBranch" [value]="code.value">
                          {{code.text}}
                      </mat-option>                          
                    </mat-select>
                    <mat-error *ngIf="BNASubjectNameForm.get('saylorSubBranchId').hasError('required')">
                      Sailor Sub Branch is required
                    </mat-error>
                  </mat-form-field>
                </div>
                
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Subject Name</mat-label>
                    <input matInput formControlName="subjectName" required>
                    <mat-error *ngIf="BNASubjectNameForm.get('subjectName').hasError('required')">
                      SubjectName is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Subject Type</mat-label>
                    <mat-select formControlName="subjectTypeId">
                      <mat-option *ngFor="let type of selectedSubjectType" [value]="type.value">
                        {{type.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Total Mark</mat-label>
                    <input matInput formControlName="totalMark">
                  </mat-form-field>
                </div>
                

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Pass Mark </mat-label>
                    <input matInput formControlName="passMarkBna">
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Time </mat-label>
                    <input matInput formControlName="qExamTime">
                  </mat-form-field>
                </div> -->


                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Result Status</mat-label>
                    <mat-select formControlName="resultStatusId" required>
                      <mat-option *ngFor="let result of selectedResultStatus" [value]="result.value">
                        {{result.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="BNASubjectNameForm.get('resultStatusId').hasError('required')">
                      Select Any Result Status
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Remarks </mat-label>
                    <input matInput formControlName="remarks">
                  </mat-form-field>
                </div> -->
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Paper No</mat-label>
                    <input matInput formControlName="paperNo" required>
                    <mat-error *ngIf="BNASubjectNameForm.get('paperNo').hasError('required')">
                      Paper No is Required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Menu Position</mat-label>
                    <input matInput formControlName="menuPosition" required>
                    <mat-error *ngIf="BNASubjectNameForm.get('menuPosition').hasError('required')">
                      Menu Position is Required
                    </mat-error>
                  </mat-form-field>
                </div> -->
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!BNASubjectNameForm.valid " mat-raised-button
                    color="primary">{{buttonText}}</button>
                  <button type="button" mat-button routerLink="/jcos-training/add-bnasubjectname"></button>
                </div>
              </div>
            </form>
            <div *ngIf="isShown" class="row create-table db-tbl cls-rtn">
              <h3 class="text-center table-title">Subject Name List</h3>
              <div class="container">
                <div *ngIf="isNoDataFound">
                  <h3>No Data Found</h3>
                </div>
                <mat-table #table [dataSource]="subjectNameList" matSort class="mat-cell">
                 

                  <ng-container matColumnDef="paperNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Paper No </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.paperNo}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="subjectName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Subject Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.subjectName}} </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="totalMark">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total Mark</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.totalMark}} </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="passMarkBna">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Pass Mark</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.passMarkBna}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="qExamTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.qExamTime}} </mat-cell>
                  </ng-container>
                 
                  <ng-container matColumnDef="menuPosition">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Menu Position</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.menuPosition}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button mat-icon-button color="accent" class="btn-tbl-edit"
                        [routerLink]="['/jcos-training/update-bnasubjectname', row.bnaSubjectNameId]">
                        <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                        (click)="deleteItem(row)">
                        <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>