<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Precourse Material List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Precourse Material List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/school-dashboard"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table *ngIf="this.role != this.userRole.CO || this.role != this.userRole.TC || this.role != this.userRole.TCO" #table [dataSource]="ReadIngMaterialList" matSort class="table table-hover absent-list mat-cell db-tbl">               
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container>  

                  <ng-container matColumnDef="course">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Course </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.course}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="materialCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Material</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.materialCount}} </mat-cell>
                  </ng-container>
                  
                  <ng-container matColumnDef="actions">
                    <mat-header-cell ngClass="custom-action local" *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                    <mat-cell ngClass="custom-action local" *matCellDef="let row; let i=index;" class="pr-0">                      
                      <button [routerLink]="['/admin/dashboard/view-materialbycourse',schoolId,row.courseNameId]" mat-flat-button color="primary">Details</button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedReadingMaterialColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedReadingMaterialColumns;"></mat-row>
                </mat-table>

                <table *ngIf="this.role == this.userRole.CO || this.role == this.userRole.TC || this.role == this.userRole.TCO" class="table  tbl-by-group db-li-s-in">
                  <thead>
                    <tr>
                      <th class="cl-nm-rnk"><h5>School Name</h5></th>
                      <th class="cl-mrk"><h5>Course</h5></th>
                      <th class="cl-mrk"><h5>Material</h5></th>
                      <th class="btn-tbl-view"><h5>Actions</h5></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of groupArrays;let i= index;">
                      <tr>
                        <td [attr.rowspan]="data.courses.length + 1">{{data.schoolname}}</td>
                      </tr>
                      <tr *ngFor="let number of data.courses;">
                        <td>{{number.course}} </td>
                        <td>{{number.materialCount}} </td>
                        <td  class="btn-tbl-view">
                          <button [routerLink]="['/admin/dashboard/view-materialbycourse',number.baseschoolnameid,number.courseNameId]" mat-flat-button color="primary">Details</button>
                        </td>
                      </tr>                    
                    </ng-container>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

