<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Nominated Trainee List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Nominated Trainee List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                        <!-- <li class="dropdown">
                          <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                          aria-label="Search box">
                        </li>
                        <li> 
                          <div class="icon-button-demo m-l-10">
                            <button mat-mini-fab color="accent" (click)="applyFilter(searchText)">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                          
                          
                        </li> -->
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                              <mat-icon class="col-white">print</mat-icon>
                            </button>
                            
                            <button *ngIf="mainDb == 1" class="btn-space"  mat-raised-button
                              color="warn" [routerLink]="['/admin/dashboard/view-centralexamcourse',courseNameId]"> 
                              <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="printNomineeList">
                  <table class="table nomination-custom-design staff-collage">
                    <thead>
                      <tr>
                        <th rowspan="2" class="cl-srl">Ser</th>
                        <th rowspan="2" class="cl-name">Rank and Name</th>
                        <th rowspan="2" class="cl-pno">PNo</th>
                        <th rowspan="2" class="cl-attempt">No of Attempt</th>
                        <th colspan="3" class="cl-age">Age on 01 Jan {{yearNow}}</th>
                        <th colspan="3" class="cl-service">Commission Service<br> on 01 Jan {{yearNow}}</th>
                        <th rowspan="2" class="cl-billet">Billet</th>
                        <th rowspan="2" class="cl-remark">Remarks</th>
                      </tr>
                      <tr>
                        <th class="cl-age-year">Year</th>
                        <th class="cl-age-month">Month</th>
                        <th class="cl-age-day">Day</th>
                        <th class="cl-service-year">Year</th>
                        <th class="cl-service-month">Month</th>
                        <th class="cl-service-day">Day</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let unit of nominatedList; let i = index">
                        <td class="cl-srl" scope="row">{{i+1}}</td>
    
                        <td  class="cl-name"> 
                          {{unit.rankPosition}}  {{unit.traineeName}} 
                        </td>
                        <td  class="cl-pno"> 
                          {{unit.traineePNo}} 
                        </td>
                        <td  class="cl-attempt"> 
                          {{unit.newAtempt}} 
                        </td>
    
                        <td  class="cl-age-year"> 
                          {{getCalculateAge(unit.traineeDOB,1)}} 
                        </td>
                        <td  class="cl-age-month"> 
                          {{getCalculateAge(unit.traineeDOB,2)}} 
                        </td>
                        <td  class="cl-age-day"> 
                          {{getCalculateAge(unit.traineeDOB,3)}} 
                        </td>
                        
                        <td  class="cl-service-year"> 
                          {{getCalculateAge(unit.traineeJoiningDate,1)}} 
                        </td>
                        <td  class="cl-service-month"> 
                          {{getCalculateAge(unit.traineeJoiningDate,2)}} 
                        </td>
                        <td  class="cl-service-day"> 
                          {{getCalculateAge(unit.traineeJoiningDate,3)}} 
                        </td>
    
                        <td  class="cl-billet"> 
                          {{unit.presentBillet}} 
                        </td>
                        <td  class="cl-remark"> 
                          {{unit.remark}} 
                        </td>
                        
                        
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
            
                 <!-- <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
                </mat-paginator> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

