<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Material List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Material List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/readingmateriallist-dashboard',schoolId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>

                            <!-- <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/school-dashboard"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button> -->
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table  #table [dataSource]="MaterialByCourse" matSort class="mat-cell db-tbl ins-db read-mat">               
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container>    
    
                  <ng-container matColumnDef="readingMaterialTitle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Material Title</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                  </ng-container>
    
                 
                  <!-- <ng-container matColumnDef="courseName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
                  </ng-container> -->
    
                  <ng-container matColumnDef="documentName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Document Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.documentName}} </mat-cell>
                  </ng-container>
    
                  <!-- <ng-container matColumnDef="showRight">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Show Right</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                      <div *ngIf="element.showRightId === 0;else rightName">
                        <span>All School</span>                       
                      </div> 
                      <ng-template #rightName>{{element.showRight}}</ng-template>
                    </mat-cell>
                  </ng-container> -->
                  <ng-container matColumnDef="aurhorName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.aurhorName}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="publisherName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Publisher</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.publisherName}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="documentLink">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Doc</mat-header-cell>
                    <mat-cell class="icon-d" *matCellDef="let element"> <mat-lebel *ngIf="element.documentLink"><a target="_blank" [href]="fileUrl + element.documentLink"><i class="far fa-file-pdf tbl-pdf"></i></a></mat-lebel> </mat-cell>
                  </ng-container>
    
                  <mat-header-row *matHeaderRowDef="displayedReadingMaterialColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedReadingMaterialColumns;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

