<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Assignment List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Assignment List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/instructor-dashboard"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table  #table [dataSource]="courseList" matSort class=" mat-cell db-tbl s-db-t-6 ins-db">               
                  <ng-container matColumnDef="ser">
                    <mat-header-cell class="ser-col" *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                    <mat-cell class="ser-col" *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container>    
        
                  <ng-container matColumnDef="schoolName">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>School </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> {{element.schoolName}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="course">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>Course </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> {{element.course}} - {{element.courseTitle}} </mat-cell>
                  </ng-container>

    
                  <ng-container matColumnDef="subjectName">
                    <mat-header-cell class="sub-col" *matHeaderCellDef mat-sort-header>Subject Name </mat-header-cell>
                    <mat-cell class="sub-col" *matCellDef="let element"> {{element.subjectName}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="actions">
                    <mat-header-cell ngClass="custom-action local" *matHeaderCellDef class="pr-0">Assignment</mat-header-cell>
                    <mat-cell ngClass="custom-action local" *matCellDef="let row; let i=index;" class="pr-0">
                      
                      <!-- <button mat-icon-button class="btn-tbl-nomination" title="Subject Mark List" [routerLink]="['/admin/dashboard/assignedsubjectmark-list',traineeId,row.baseSchoolNameId,row.courseNameId,row.courseDurationId,row.bnaSubjectNameId]">
                        <mat-icon aria-label="Edit" class="col-white">book</mat-icon> 
                        <button [routerLink]="['/admin/dashboard/add-instructorassignment',traineeId]" class="btnDetailsins" mat-flat-button color="primary">Assignment</button> -->
                    
                      <button *ngIf="row.courseTypeId == 3" mat-raised-button class="custom-btn courseplan-btn" [routerLink]="['/admin/dashboard/add-instructorassignment',traineeId,row.baseSchoolNameId,row.courseNameId,row.courseDurationId,row.bnaSubjectNameId]">Create/List of Assignment</button>
                    </mat-cell>
                  </ng-container>
        
                  <mat-header-row *matHeaderRowDef="displayedCourseColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedCourseColumns;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

