<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Trainee Nomination</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="TraineeNominationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                
                    <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>CourseDuration Id</mat-label>                        
                          <input matInput formControlName="courseDurationId">
                      </mat-form-field>
                    </div>

                    <div  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>courseNameId</mat-label>                        
                          <input matInput formControlName="courseNameId">
                      </mat-form-field>
                    </div> -->
                  
                    <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Trainee</mat-label>                        
                          <mat-select formControlName="traineeId" required>
                            <mat-option  value="0">--Select--</mat-option >
                              <mat-option *ngFor="let school of selectedTrainee" [value]="school.value">
                                  {{school.text}}  
                                </mat-option>                          
                          </mat-select>
                        
                      </mat-form-field>
                    </div> -->


                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Trainee</mat-label>                        
                          <input formControlName="traineeName" matInput type="text" [matAutocomplete]="auto" />
                          <mat-autocomplete #auto="matAutocomplete" >
                            <mat-option *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onTraineeSelectionChanged(item)">
                              {{item.text}}
                            </mat-option>
                          </mat-autocomplete>
                      </mat-form-field>
                    </div>
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!TraineeNominationForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                        <!-- [routerLink]="['/course-management/add-traineenomination', this.courseDurationId,this.courseNameId]" -->
                    <button type="button" mat-button [routerLink]="['/course-management/traineenomination-list',this.courseDurationId]">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

