<section class="content routine-entry">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Weekly Program</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="form-border-design" [formGroup]="ClassRoutineForm" (ngSubmit)="onSubmit()">
                <div class="row">

                 

                  <div *ngIf="role != 'Super Admin'" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>School</mat-label>
                        <mat-select formControlName="baseSchoolNameId" required (selectionChange)="getselectedcoursedurationbyschoolname()">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let school of selectedbaseschool" [value]="school.value">
                                {{school.text}} 
                              </mat-option>                           
                        </mat-select>
                        <mat-error *ngIf="ClassRoutineForm.get('baseSchoolNameId').hasError('required')">
                            Select Any School
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Title</mat-label>                        
                        <mat-select formControlName="courseName">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedcoursedurationbyschoolname" [value]="dropdown.value" (onSelectionChange)="getselectedbnasubjectname(dropdown)">
                                {{dropdown.text}}  
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="ClassRoutineForm.get('courseName').hasError('required')">
                          Course Title is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>
 
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Week</mat-label>                        
                        <mat-select formControlName="courseWeekId" >
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedWeek" [value]="dropdown.value" (onSelectionChange)="onWeekSelectionChangeGet(dropdown)">
                                {{dropdown.text}}  
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="ClassRoutineForm.get('courseWeekId').hasError('required')">
                          Course Week is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Subject Name</mat-label>                        
                        <mat-select formControlName="subjectName">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedsubjectname" [value]="dropdown" (onSelectionChange)="onSubjectNameSelectionChangeGet(dropdown)">
                                {{dropdown.text}}  
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="ClassRoutineForm.get('subjectName').hasError('required')">
                          Subject Name is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Class Period</mat-label>                        
                        <mat-select formControlName="classPeriodId" required>
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedclassperiod" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="ClassRoutineForm.get('classPeriodId').hasError('required')">
                          Class Period is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>class Type </mat-label>                        
                        <mat-select formControlName="classTypeId" >
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedclasstype" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                    </mat-form-field>
                  </div>
                  
                  
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="date" >
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                       <mat-datepicker #datepicker></mat-datepicker>                                            
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <h5 class="m-t-20">Total Period : <span class="c-color">{{routineCount}}</span>/{{this.totalPeriod}} </h5>
                     <!-- <input matInput formControlName="totalPeriod" value="{{routineCount}} / {{this.totalPeriod}}"> -->
                 </div>
                 <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Class Location</mat-label>                        
                      <input matInput formControlName="classLocation" required>
                      <mat-error *ngIf="ClassRoutineForm.get('classLocation').hasError('required')">
                        Class Location is Required
                      </mat-error>
                  </mat-form-field>
                </div> -->
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2  m-t-10">
                  <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!ClassRoutineForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                  <!-- <button type="button" mat-button routerLink="/routine-management/classroutine-list">Cancel</button> -->
                </div>
              </div> 

               
                <!-- <div class="row">
                  
                </div> -->
              </form>
              <!-- <div  *ngIf="isShown"  class="row create-table db-tbl cls-rtn">
                  <h3 class="text-center table-title">ROUTINE LIST</h3>
                  <div class="container">
                    <div  class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 ex-mrk-entry-li res-msg">
                        <div class="card">
                          
                          <div class="body table-responsive">
                            <table class="table ex-mrk-entry">
                              <thead>
                                <tr>
                                  <th class="cl-srl"><h5>Date</h5></th>
                                  <th class="cl-nm-rnk"><h5>Subject Name</h5></th>
                                  <th class="cl-mrk"><h5>Class Period</h5></th>
                                  <th class="cl-mrk-rmrk"><h5>Total Period</h5></th>
                                  <th class="cl-mrk-rmrk"><h5>Type</h5></th>
                                  <th class="cl-mrk-rmrk"><h5>Instructor Name</h5></th>
                                  <th class="cl-mrk-rmrk"><h5>Actions</h5></th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let data of groupArrays;let i= index;">
                                  <tr>
                                    <td [attr.rowspan]="data.games.length + 1">{{data.date}}</td>
                                  </tr>
                                  <tr *ngFor="let number of data.games;">
                                    <td>{{number.subjectName}}</td>
                                    <td>{{number.periodName}} Period ({{number.durationForm}}-{{number.durationTo}})</td>
                                    <td>{{number.classCountPeriod}} / {{number.subjectCountPeriod}}</td>
                                    <td>{{number.classTypeName}}</td>
                                    <td>{{number.name}}</td>
                                     <td>
                                       <button mat-icon-button color="accent" class="btn-tbl-edit" 
                                      [routerLink]="['/routine-management/update-classroutine', number.classRoutineId]">
                                        <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                      </button>
                                      <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                                      (click)="deleteItem(number)">
                                      <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                                    </button>
                                  </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>                     
                  </div>
              </div> -->
              <div  *ngIf="isShown"  class="row load-routine create-table db-tbl cls-rtn">
                <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-left"> -->
                  <!-- <h3 class="text-center table-title">WEEKLY TRAINING PROGRAMME</h3>
                  <div class="align-center">
                    <p>Course Name:- {{courseName}}</p>
                    <p>Week Name:- {{weekName}}</p>
                  </div> -->
                  
                  <!-- <p>{{courseName}}</p>
                  <p>{{weekName}}</p> -->
                  <table mat-table [dataSource]="selectedRoutineByParametersAndDate" class="mat-elevation-z8 demo-table dynamic-tbl-forroutine">
                    <!-- Position Column -->
                    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
                      <th class="rotate" mat-header-cell *matHeaderCellDef>
                        <!-- <div *ngif="col"><span>{{col}}</span></div> --> 
                        <div><span>{{col}}</span></div>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{element[col]}}
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left m-t-20">
                    <button class="btn-space"  mat-raised-button
                            color="primary" [routerLink]="['/routine-management/edit-weeklyroutine', schoolId,durationId,courseId,weekId]"> Edit
                              <mat-icon class="col-white">edit</mat-icon>
                            </button>
                  </div>
                 
                  <div *ngIf="isShown" class="col-xs-6 col-sm-12 col-md-6 col-lg-6 mt-3 routine">
                    <div class="card">
                      <div class="header">
                      </div>
                      <div class="body">
                        <div class="row dash-cd-m-0">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left">
                            <h3>Instructor List</h3>
                          </div>
                        </div>
                        <div class="table-responsive">
          
                          <mat-table #table [dataSource]="traineeListByBaseSchoolAndCourse" matSort class="table table-hover absent-list mat-cell db-tbl routine-detail-trainee">
                            <ng-container matColumnDef="ser">
                              <mat-header-cell  *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                              <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                            </ng-container>       
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Instructor </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.position+' ' }} {{element.name}}({{element.pno}}) </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="shortCode">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.shortCode}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedRoutineCountColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedRoutineCountColumns;"></mat-row>
                          </mat-table>    
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="header">
                      </div>
                      <div class="body">
                        <div class="row dash-cd-m-0">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left">
                            <h3>Period List</h3>
                          </div>
                        </div>
                        <div class="table-responsive">
          
                          <mat-table #table [dataSource]="periodListByBaseSchoolAndCourse" matSort class="table table-hover absent-list mat-cell db-tbl routine-detail-trainee">
                            <ng-container matColumnDef="ser">
                              <mat-header-cell  *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                              <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                            </ng-container>       
                            <ng-container matColumnDef="periodName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Period </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.periodName}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="duration">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.durationForm}} - {{element.durationTo}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedPeriodListColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedPeriodListColumns;"></mat-row>
                          </mat-table>    
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="isShown" class="col-xs-6 col-sm-12 col-md-6 col-lg-6 mt-3 routine">
                    <div class="card">
                      <div class="header">
                      </div>
                      <div class="body">
                        <div class="row dash-cd-m-0">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left">
                            <h3>Subject List</h3>
                          </div>
                        </div>
                        <div class="table-responsive">
          
                          <mat-table #table [dataSource]="subjectlistBySchoolAndCourse" matSort class="table table-hover absent-list mat-cell db-tbl routine-detail-trainee">
                            <ng-container matColumnDef="ser">
                              <mat-header-cell  *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                              <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                            </ng-container>       
                            <ng-container matColumnDef="subjectName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Subject Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.subjectName}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="subjectShortName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Short Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.subjectShortName}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedSubjectListColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedSubjectListColumns;"></mat-row>
                          </mat-table>    
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- <div *ngIf="isShown" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-3">
                    <div class="card">
                      <div class="header">
                      </div>
                      <div class="body">
                        <div class="row dash-cd-m-0">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6div-class div-left">
                            <h3>Instructor List</h3>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <mat-table #table [dataSource]="traineeListByBaseSchoolAndCourse" matSort class="mat-cell">
                            <ng-container matColumnDef="ser">
                              <mat-header-cell  *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                              <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                            </ng-container>       
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Instructor </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.position+' ' }} {{element.name}}({{element.pno}}) </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="shortCode">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.shortCode}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedRoutineCountColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedRoutineCountColumns;"></mat-row>
                          </mat-table>               
                        </div>
                      </div>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

