<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">School Event List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">School Event List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/school-dashboard"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table #table [dataSource]="EventForSchoolDashboard" matSort class="table table-hover notice-list mat-cell db-tbl">               
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container> 

                  <ng-container matColumnDef="newStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div class="notification-sign">
                        <span class="notification-flicker">{{element.newStatus}}</span>
                      </div>                       
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="eventHeading">
                    <mat-header-cell class="course-col" *matHeaderCellDef mat-sort-header> Heading </mat-header-cell>
                    <mat-cell class="course-col" *matCellDef="let element"> {{element.eventHeading}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="eventDetails">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Event Details</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.eventDetails}} </mat-cell>
                  </ng-container>
                  
                  <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Duration</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.startDate | date:'mediumDate'}} - {{element.endDate | date:'mediumDate'}} </mat-cell>
                  </ng-container>
                  
                  <!-- <ng-container matColumnDef="actions">
                    <mat-header-cell ngClass="custom-action local" *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                    <mat-cell ngClass="custom-action local" *matCellDef="let row; let i=index;" class="pr-0">                      
                      <button [routerLink]="['/admin/dashboard/view-materialbycourse',schoolId,row.courseNameId]" mat-flat-button color="primary">Details</button>
                    </mat-cell>
                  </ng-container> -->
                  <mat-header-row *matHeaderRowDef="displayedReadingMaterialColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedReadingMaterialColumns;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

