<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Examiner List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Examiner List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                        <!-- <li class="dropdown">
                          <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                          aria-label="Search box">
                        </li>
                        <li> 
                          <div class="icon-button-demo m-l-10">
                            <button mat-mini-fab color="accent" (click)="applyFilter(searchText)">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                          
                          
                        </li> -->
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <!-- <button class="btn-space"  mat-raised-button
                              color="warn" routerLink="/admin/dashboard/school-dashboard"> 
                              <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button> -->

                            <!-- back to school dashboard -->
                            <button *ngIf="!courseTypeId && !schooldash && !courseTypeId && !dbType" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/school-dashboard']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>

                            <button *ngIf="schooldash" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/runningcourses-list']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>

                            <button *ngIf="courseTypeId" class="btn-space"  mat-raised-button
                              color="warn" [routerLink]="['/admin/dashboard/view-runningcourses',courseTypeId]"> 
                              <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                            
                            <button *ngIf="dbType" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/runningcourses-list',baseSchoolNameId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                            <!-- <button *ngIf="courseTypeId=3" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/view-runningcourses',courseTypeId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button> -->
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table #table [dataSource]="GetInstructorByParameters" matSort class="mat-cell db-li-n db-li-s-in exm-ins">               
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                    </ng-container>   
                    
                    <ng-container matColumnDef="trainee">
                      <mat-header-cell class="ins-name" *matHeaderCellDef mat-sort-header>Examiner</mat-header-cell>
                      
                      <mat-cell class="ins-name" *matCellDef="let element"> {{element.traineeRank}} {{element.trainee}}  <span class="t-n-pno-d">(P No {{element.traineePno}})</span> </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="bnaInstructorType">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Examiner Type</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.bnaInstructorType}} </mat-cell>
                    </ng-container> -->
                    
                    <ng-container matColumnDef="bnaSubjectName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Subject Name</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.bnaSubjectName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="classRoutine">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Exam Date</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.classRoutine | date:'mediumDate'}} </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="examLocation">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Exam Location</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.examLocation}} </mat-cell>
                    </ng-container> -->

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            
                 <!-- <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
                </mat-paginator> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

