<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Trainee Nomination List For NBCD</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader syllabus"> 
                  <div class="row">
                    <div class="col-8">
                      <div class="heading">
                        <p style="margin-bottom: 10px;">School:- {{schoolName}}</p>
                        <p style="margin-bottom: 10px;">Course:- {{courseName}} - {{courseTitle}}</p>
                      </div>
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">

                        </li>
                        
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/course-management/nbcdcourse-list"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>


                <div id="print-routine">
                  <table  class="tblinterserviceList">
                    <thead>
                      <tr>
                        <th class="th-cell-ser th-cell-durationform">S. No</th>
                        <th class="th-cell-durationform">P. No </th>
                        <th class="th-cell-durationform">Name </th>
                        <th class="th-cell-durationform">Rank </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let data of nominatedPercentageList; let i = index" >
                      
                        <tr >
                          <td class="td-cell">
                            {{i+1}}
                          </td>
                          <td class="td-cell">{{data.pno}}</td>
                          <td class="td-cell">{{data.name}}</td>
                          <td class="td-cell">{{data.position}}</td>
                       
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left m-t-20">
                  <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                    <mat-icon class="col-white">print</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

