<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Notice</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div> 
            <div class="body">
              <form class="m-4" [formGroup]="NoticeForm" (ngSubmit)="onSubmit()">
                <div class="row">              
                  <div *ngIf="role != userRole.SuperAdmin && role != userRole.JSTISchool && role != userRole.BNASchool" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>School Name</mat-label>                        
                      <mat-select required multiple formControlName="baseSchoolNameId"  (selectionChange)="getselectedcoursedurationbyschoolname()">
                        <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
                        <mat-option *ngFor="let school of selectedbaseschools" [value]="school.value">
                          {{school.text}} 
                        </mat-option>                          
                      </mat-select>                   
                    </mat-form-field>
                    <!-- <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>School</mat-label>
                        <mat-select formControlName="baseSchoolNameId" required (selectionChange)="getselectedcoursedurationbyschoolname()">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let school of selectedbaseschools" [value]="school.value">
                                {{school.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="NoticeForm.get('baseSchoolNameId').hasError('required')">
                            Select Any School
                        </mat-error>
                    </mat-form-field> -->
                  </div>

                  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Title</mat-label>                        
                        <mat-select formControlName="courseName">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let dropdown of selectedCourse" [value]="dropdown" (onSelectionChange)="getselectedbnasubjectname(dropdown)">
                                {{dropdown.text}}  
                              </mat-option>                          
                        </mat-select>
                     
                    </mat-form-field>
                  </div> -->


                  <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Name</mat-label>  
                      <mat-select multiple formControlName="courseName">
                        <!-- <mat-option  value="0">--Select--</mat-option > -->
                          <mat-option #allSelectedCourse (click)="toggleAllSelectionCourse()" [value]="0">All</mat-option>
                          <!-- (onSelectionChange)="getselectedbnasubjectname(dropdown)" -->
                          <mat-option *ngFor="let dropdown of selectedCourse" [value]="dropdown.value"  >
                              {{dropdown.text}}  
                            </mat-option>                          
                      </mat-select>                      
                      <!-- <mat-select formControlName="courseName">
                        <mat-option  value="0">--Select--</mat-option >
                        <mat-option *ngFor="let dropdown of selectedCourse" [value]="dropdown" (onSelectionChange)="getSelectedCourseName(dropdown)">
                          {{dropdown.text}} 
                        </mat-option>                          
                      </mat-select> -->
                    </mat-form-field>
                  </div>

                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Course Name</mat-label>                        
                      <mat-select formControlName="courseNameId">
                        <mat-option  value="0">--Select--</mat-option >
                        <mat-option *ngFor="let dropdown of selectedCourse" [value]="dropdown.value">
                          {{dropdown.text}} 
                        </mat-option>                          
                      </mat-select>
                    </mat-form-field>
                  </div> -->

                  <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Notice Heading</mat-label>
                      <input matInput formControlName="noticeHeading">
                      <!-- <mat-error *ngIf="NoticeForm.get('noticeHeading').hasError('required')">
                        Notice Heading is required
                      </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="frompicker" formControlName="endDate" >
                        <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                       <mat-datepicker #frompicker></mat-datepicker>                                            
                    </mat-form-field>
                  </div>

                  <div class="col-xl-8 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Notice Details</mat-label>                        
                    <textarea matInput formControlName="noticeDetails"></textarea>   
                      <mat-error *ngIf="NoticeForm.get('noticeDetails').hasError('required')">
                        Notice Details is Required!
                      </mat-error>                    
                    </mat-form-field>
                  </div> 
                    
                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Status</mat-label>                        
                      <input matInput formControlName="status" >                        
                    </mat-form-field>
                  </div>  -->
                </div>            
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!NoticeForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                    <!-- <button type="button" mat-button routerLink="/notice-bulletin/notice-list">Cancel</button> -->
                  </div>
                </div>
              </form>

              <div  *ngIf="isShown"  class="row create-table">
                <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-left"> -->
                  <h3 class="text-center table-title">Notice List</h3>
                  <!-- </div> -->
                  <div class="container">
                    <mat-table #table [dataSource]="selectedNotice" matSort class="mat-cell">               
                      <ng-container matColumnDef="ser">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                      </ng-container>    
                      <ng-container matColumnDef="noticeDetails">
                        <mat-header-cell class="dtlNotice" *matHeaderCellDef mat-sort-header>Notice Details</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.noticeDetails }} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="noticeHeading">
                        <mat-header-cell class="dtlNotice" *matHeaderCellDef mat-sort-header>Notice Heading</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.noticeHeading }} </mat-cell>
                      </ng-container> 

                      <!-- <ng-container matColumnDef="baseSchoolNameId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>baseSchoolName</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.baseSchoolNameId}} </mat-cell>
                      </ng-container> -->
    
                      <ng-container matColumnDef="courseName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Course</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
                      </ng-container>
    
                     
    

                      <!-- <button mat-raised-button class="custom-btn courseplan-btn"  (click)="inActiveItem(row)"
                        (click)="$event.stopPropagation()">{{ row.isActive == true ? 'De-Active' : 'Active' }}
                      </button> -->

                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button mat-raised-button class="custom-btn courseplan-btn"  (click)="stopNotices(element)"
                          (click)="$event.stopPropagation()">{{ element.status == 0 ? 'Running' : 'Stop' }}
                        </button></mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                          <!-- <button mat-icon-button color="accent" class="btn-tbl-edit" 
                          [routerLink]="['/notice-bulletin/update-notice', row.noticeId]">
                            <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                          </button> -->
                          <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                          (click)="deleteItem(row)">
                          <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                          </button>
                        </mat-cell>
                      </ng-container>
                      
    
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

