<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Weekly Evaluation List</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Weekly Evaluation List</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong></strong>
                        </h2>
                      </li>

                      <li class="dropdown">
                        <input placeholder="Search" type="text" [(ngModel)]="searchText" #filter
                          class="browser-default search-field" aria-label="Search box">
                      </li>
                      <li>
                        <div class="icon-button-demo m-l-10">
                          <button mat-mini-fab color="accent" (click)="applyFilter(searchText)">
                            <mat-icon class="col-white">search</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <!-- <button class="btn-space" mat-raised-button color="primary"
                            routerLink="/trainee-biodata/add-newentryevaluation">Add
                            <mat-icon class="col-white">add</mat-icon>
                          </button> -->
                        </div>
                      </li>
                      <li>

                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell new-en-ev" >
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="sl">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) * paging.pageSize) +
                    i+1}} </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="traineePNo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Rank & Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> <span>{{element.rankPosition}} , {{element.traineeName}} &nbsp;
                      <b> (P No -{{element.traineePNo}})</b></span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="courseWeek">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>Week Name</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.courseWeek}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="noitikota">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>নৈতিকতা</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.noitikota}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="sahonsheelota">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>সহনশীলতা</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.sahonsheelota}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="utsaho">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>উৎসাহ</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.utsaho}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="samayanubartita">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>সময়ানুবর্তিতা</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.samayanubartita}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="manovhab">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>মনোভাব</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.manovhab}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="udyam">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>উদ্যম</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.udyam}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="khapKhawano">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>খাপ খাওয়ানো</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.khapKhawano}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="onyano">
                  <mat-header-cell class="child-ch" *matHeaderCellDef mat-sort-header>অন্যান্য</mat-header-cell>
                  <mat-cell class="child-ch" *matCellDef="let element"> {{element.onyano}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="actions">
                  <mat-header-cell   *matHeaderCellDef class="pr-0 child-ac">Actions</mat-header-cell>
                  <mat-cell class="pr-0 child-ac" *matCellDef="let row; let i=index;">
                    <!-- <button mat-icon-button class="btn-tbl-nomination" title="Nomination" [routerLink]="['/trainee-biodata/traineenomination-list', row.courseDurationId]">
                      <mat-icon aria-label="Edit" class="col-white">supervisor_account</mat-icon>
                    </button> -->
                    <!-- <button mat-icon-button color="accent" class="btn-tbl-edit"
                      [routerLink]="['/trainee-biodata/update-newentryevaluation', row.newEntryEvaluationId]">
                      <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                    </button> -->
                    <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                      (click)="deleteItem(row)">
                      <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
              </mat-table>

              <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>