<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Reading Material Title</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>

      
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="ReadingMaterialTitleForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Title</mat-label>
                      <input matInput formControlName="title" required>
                      <mat-error *ngIf="ReadingMaterialTitleForm.get('title').hasError('required')">
                        Title  is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 
                </div>
               <app-loader *ngIf="showSpinner"></app-loader>    
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!ReadingMaterialTitleForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/reading-materials/readingmaterialtitle-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
