<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item"> 
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Create Staff College Mark</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> 
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="BNAExamMarkForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 exam-mark">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <div class="row left-row">
                          <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Base School Name</mat-label>   
                                <mat-select formControlName="baseSchoolNameId" required (selectionChange)="getselectedcoursedurationbyschoolname()">
                                <mat-option  value="0">--Select--</mat-option >                      
                                  <mat-option *ngFor="let dropdown of selectedbaseschools" [value]="dropdown.value">
                                        {{dropdown.text}} 
                                      </mat-option>                          
                                </mat-select>
                                <mat-error *ngIf="BNAExamMarkForm.get('baseSchoolNameId').hasError('required')">
                                  Base School Name is Required!
                                </mat-error>
                            </mat-form-field>
                          </div> -->
        
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Course Name</mat-label>                        
                                <mat-select formControlName="courseName" required  >
                                  <mat-option  value="0">--Select--</mat-option >

                                    <!-- (onSelectionChange)="onBaseNameSelectionChangeGetModule($event)"  *ngFor="let dropdown of selectedcoursedurationbyschoolname" [value]="dropdown" -->

                                    <mat-option (onSelectionChange)="onCourseNameSelectionChangeGetSubjectAndTraineeList($event)" 
                                    *ngFor="let dropdown of selectedCourseDurationByCourseTypeAndCourseName" [value]="dropdown">
                                        {{dropdown.text}} 
                                      </mat-option>                          
                                </mat-select>
                                <mat-error *ngIf="BNAExamMarkForm.get('courseName').hasError('required')">
                                  Course Name is Required!
                                </mat-error>
                            </mat-form-field>
                          </div>
                          <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Course Module</mat-label>                        
                                <mat-select formControlName="courseModuleId" required >
                                  <mat-option  value="0">--Select--</mat-option >
                                    <mat-option *ngFor="let dropdown of selectedcoursModulebySchoolAndCourse" [value]="dropdown" (onSelectionChange)="onCourseNameSelectionChangeGetSubjectAndTraineeList(dropdown)">
                                        {{dropdown.text}} 
                                      </mat-option>                          
                                </mat-select>
                                <mat-error *ngIf="BNAExamMarkForm.get('courseModuleId').hasError('required')">
                                  Course Modlule is Required!
                                </mat-error>
                            </mat-form-field>
                          </div> -->

                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Subject Name</mat-label>                        
                                <mat-select formControlName="bnaSubjectName" required >
                                  <mat-option  value="0">--Select--</mat-option >

                                    <!-- <mat-option (onSelectionChange)="onSubjectNameSelectionChange($event)" *ngFor="let dropdown of selectedsubjectname" [value]="dropdown.value">
                                      {{dropdown.text}} 
                                    </mat-option>       -->

                                    <mat-option (onSelectionChange)="onSubjectNameSelectionChangeGetTotalMarkAndPassMark($event)" *ngFor="let dropdown of selectedSubjectNameByCourseNameId" [value]="dropdown">
                                        {{dropdown.text}} 
                                      </mat-option>                          
                                </mat-select>
                                <mat-error *ngIf="BNAExamMarkForm.get('bnaSubjectName').hasError('required')">
                                  Subject Name is Required!
                                </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Mark Type</mat-label>                        
                                <mat-select formControlName="SubjectMarkId" required >
                                  <mat-option  value="0">--Select--</mat-option >
                                    <mat-option *ngFor="let dropdown of selectedmarktype" [value]="dropdown.value">
                                        {{dropdown.text}} 
                                      </mat-option>                          
                                </mat-select>
                                <mat-error *ngIf="BNAExamMarkForm.get('SubjectMarkId').hasError('required')">
                                  Mark Type is Required!
                                </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <div class="row right-row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                <h5>Total Mark : {{this.totalMark}}</h5>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                <h5>Pass Mark : {{this.passMarkBna}}</h5>
                              </div>
                              <div  *ngIf="isShown" class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2 sticky-table ex-mrk-li">
                                <!-- <h4 class="align-center">Data Display</h4> -->
                                <mat-table  #table [dataSource]="this.subjectMarkList" matSort class="mat-cell ex-mrk-lft-tbl">  
                                  
                                  <ng-container matColumnDef="sl">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="passMark">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Pass Mark</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.passMark}}
                                  </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="mark">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mark</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.mark}}
                                  </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="markType">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mark Type</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.markType}} 
                                  </mat-cell>
                                  </ng-container>

                                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div> 

                <!-- Basic Table -->
                <div *ngIf="isShown" class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 ex-mrk-entry-li">
                    <div class="card">
                      
                      <div class="body table-responsive">
                        <table class="table ex-mrk-entry">
                          <thead>
                            <tr>
                              <th class="cl-srl"><h5>Ser</h5></th>
                              <th class="cl-nm-rnk"><h5>Index No</h5></th>
                              <th class="cl-mrk"><h5>Obtaint Mark</h5></th>
                              <th class="cl-mrk-rmrk"><h5>Exam Mark Remark</h5></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let unit of BNAExamMarkForm.get('traineeListForm')['controls']; let i = index" [formGroup]="unit">
                              <th class="cl-srl" scope="row">{{i+1}}</th>

                              <td  class="cl-nm-rnk"> 
                                {{getControlLabel(i,'indexNo')}}
                              </td>
                              
                              <td class="cl-mrk">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <!-- <mat-label>Obtaint Mark </mat-label>                         -->
                                  <input matInput  type="text" formControlName="obtaintMark" required />
                                  <mat-error *ngIf="BNAExamMarkForm.get('obtaintMark').hasError('required')">
                                    Mark Type is Required!
                                  </mat-error>
                                </mat-form-field>
                              </td>

                              <td class="cl-mrk-rmrk">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <mat-select formControlName="examMarkRemarksId">
                                    <mat-option  value="">--Select--</mat-option >
                                    <mat-option *ngFor="let dropdown of selectedmarkremarks" [value]="dropdown.value">
                                      {{dropdown.text}} 
                                    </mat-option>                          
                                  </mat-select>
                                </mat-form-field>    
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- #END# Basic Table -->

                <!-- <div  *ngIf="isShown" class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
                  <h4 class="align-center">Mark Entry</h4>
                  <mat-table  #table [dataSource]="this.traineeList" matSort class="mat-cell db-li-n">  
                    <div  *ngFor="let unit of BNAExamMarkForm.get('traineeListForm')['controls']; let i = index">
                      <div [formGroup]="unit">
                    

                    <ng-container matColumnDef="traineePNo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>PNo</mat-header-cell>
                      <mat-cell *matCellDef="let element">  <mat-form-field fxFlex="30%">
                        <input
                          matInput
                          placeholder="Trainee PNo"
                          formControlName="traineePNo"
                          required
                        />
                      
                      </mat-form-field>
                    </mat-cell>
                    </ng-container>
                    

                    <ng-container matColumnDef="obtaintMark">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Obtaint Mark</mat-header-cell>
                      <mat-cell *matCellDef="let element; let i = index;">
                        <mat-form-field  fxFlex.xs="grow">
                          <input matInput placeholder="obtaintMark" type="number"
                            formControlName="obtaintMark" required />
                        </mat-form-field>
                        
                      </mat-cell>                      
                    </ng-container>

                    <ng-container matColumnDef="examMarkRemarksId">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Exam Mark Remarks</mat-header-cell>
                      <mat-cell *matCellDef="let element; let i = index;">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-select (selectionChange)="onOptionsSelected(i,$event.value)">
                              <mat-option *ngFor="let dropdown of selectedmarkremarks" [value]="dropdown.value">
                                  {{dropdown.text}} 
                                </mat-option>                          
                          </mat-select>
                        </mat-form-field>                    
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="traineeName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Trainee Name</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.traineeName}}
                    </mat-cell>
                    </ng-container>
                    
                    </div>
                    </div>
                    <mat-header-row *matHeaderRowDef="displayedColumnsForTraineeList"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsForTraineeList;"></mat-row>
                  </mat-table>

                  
                </div> -->
                <div class="row mt-2">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!BNAExamMarkForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                    <!-- <button type="button" mat-button routerLink="/exam-management/bnaexammark-list">Cancel</button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

