

<section class="content db-course-list">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Course Details</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Course Details</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table"> 
              <div class="materialTableHeader"> 
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">  </li>
                      <!-- <li class="dropdown">
                        <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                        aria-label="Search box">
                      </li>
                      <li> 
                        <div class="icon-button-demo m-l-10">
                          <button mat-mini-fab color="accent" (click)="applyFilter(searchText)">
                            <mat-icon class="col-white">search</mat-icon>
                          </button>
                        </div>                                                  
                      </li> -->
                    </ul>
                  </div>
                  <div class="col-8 div-left">
                    <h3> Course Details</h3>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <!-- <button *ngIf="courseTypeId === 20"  class="btn-space"  mat-raised-button
                          color="warn" [routerLink]="['/admin/dashboard/view-runningcourses',courseTypeId]"> 
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                        </button> -->
                          <button *ngIf="courseTypeId != 0 && courseTypeId != 100" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/view-runningcourses',courseTypeId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                          <button *ngIf="courseTypeId === 0 && schoolDb ===0" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/upcomingcourse-list']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                          <button *ngIf="courseTypeId === 100 && role != userRole.BNASchool" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/course-management/localcourse-list']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                          <button *ngIf="role == userRole.BNASchool" class="btn-space"  mat-raised-button
                          color="warn" [routerLink]="['/course-management/bnalocalcourse-list']"> 
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                        </button>
                        <button *ngIf="role == userRole.BNASchool" class="btn-space"  mat-raised-button
                        color="warn" [routerLink]="['/admin/dashboard/school-dashboard']"> 
                        <mat-icon class="col-white">keyboard_backspace</mat-icon> Go to Dashboard
                      </button>
                          <button *ngIf="schoolDb === 1 && role != userRole.BNASchool && role != 'Foreign Training'" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/school-dashboard']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                          <button *ngIf="role == userRole.CO || role == userRole.TrainingOffice" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/school-dashboard']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                          <button *ngIf="role == 'Foreign Training'" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/foreigntraining-dashboard']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                        </div>
                      </li>                     
                    </ul>
                  </div>
                </div>
              </div>
              <div id="print-routine">
              <table class="table table-bordered">
                <thead></thead>
                <tbody>
                  <tr>
                    <!-- <th scope="row">Trainee Id</th>
                    <td>{{traineeId}}</td> -->
                    <th scope="row">Course Title</th>
                    <td>{{courseName}}-{{courseTitle}}</td>
                    <th scope="row">No Of Candidates</th>
                    <td>{{noOfCandidates}}</td>
                  </tr>
                  <tr>                    
                    <th scope="row">Duration From</th>
                    <td>{{durationFrom | date:'mediumDate'}}</td>
                    <th scope="row">Duration To</th>
                    <td>{{durationTo | date:'mediumDate'}}</td>
                  </tr>
                  <tr>                      
                    <th scope="row">Professional</th>
                    <td>{{professional}} (Week)</td>
                    <th scope="row">NBCD</th>
                    <td>{{nbcd}} (Week)</td>
                  </tr>
                  <tr>
                    <th scope="row">Remark</th>
                    <td colspan="3">{{remark}}</td>
                  </tr>                    
                </tbody>
              </table>   
              </div>   
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left m-t-20">
                <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                  <mat-icon class="col-white">print</mat-icon>
                </button>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


              
  
  
  
  
   


