      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Swimming Diving</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="SwimmingDivingForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Swimming Diving Level</mat-label>
                    <mat-select [(value)]="selected" (selectionChange)="onDropdownChange($event)">
                      <mat-option value="selected">Select</mat-option>
                      <mat-option value="swimming">Swimming</mat-option>
                      <mat-option value="driving">Driving</mat-option>
                    </mat-select>
                  </mat-form-field> 
                  </div>
                  <pre>{{ selectedvalues | json }}</pre>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngFor ="let value of selectedvalues; let i=index">
                    <mat-checkbox #checkBox [value]="value" [checked]="value.isChecked" (change)="onCheckboxChange($event,value.value)">  
                         {{value.text}} 
                    </mat-checkbox>
                   </div>

                   <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Additional Information</mat-label>
                      <input matInput formControlName="additionalInformation" >                      
                    </mat-form-field>
                  </div>
                 
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!SwimmingDivingForm.valid " mat-raised-button
                      color="primary">{{buttonText}}</button>
                    <button type="button" mat-button routerLink="/trainee-biodata/trainee-biodata-tab/main-tab-layout/main-tab/swimming-diving-details/">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  


