<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Course Instructor</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
            </div>
            <div class="body">
              <form class="form-border-design" [formGroup]="CourseInstructorForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div *ngIf="role != 'Super Admin'" class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>School Name</mat-label>                
                        <mat-select formControlName="baseSchoolNameId" required (selectionChange)="getselectedcoursedurationbyschoolname()">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let semester of selectedSchool" [value]="semester.value">
                                {{semester.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="CourseInstructorForm.get('baseSchoolNameId').hasError('required')">
                          School Name is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Course Title</mat-label>                        
                        <mat-select formControlName="courseName">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option (onSelectionChange)="onBaseNameSelectionChangeGetModule($event)"  *ngFor="let dropdown of selectedcoursedurationbyschoolname" [value]="dropdown">
                                {{dropdown.text}}  
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="CourseInstructorForm.get('courseName').hasError('required')">
                          Course Title is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Semester</mat-label>      
                        <mat-select formControlName="courseModuleId" required (selectionChange)="getselectedbnasubjectname()">
                          <mat-option  value="0">--Select--</mat-option >
                            <mat-option *ngFor="let semester of selectedCourseModuleByBaseSchoolAndCourseNameId" [value]="semester.value">
                                {{semester.text}} 
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="CourseInstructorForm.get('courseModuleId').hasError('required')">
                          Semester is Required!
                        </mat-error>
                    </mat-form-field>
                  </div>
              
                  
              
                  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Subject Name</mat-label>                        
                        <mat-select formControlName="bnaSubjectNameId" (selectionChange)="onModuleSelectionChangeGetInstructorList()">
                          <mat-option  value="0">--Select--</mat-option >  
                          <mat-option *ngFor="let dropdown of selectedsubjectname" [value]="dropdown.value">
                                {{dropdown.text}} 
                              </mat-option>                          
                        </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Instructor</mat-label>                        
                      <input formControlName="traineeName" matInput type="text" [matAutocomplete]="auto" />
                      <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onTraineeSelectionChanged(item)">
                          {{item.text}}
                        </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>
                  </div>  
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-2 m-t-10">
                    <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!CourseInstructorForm.valid " mat-raised-button
                        color="primary">{{buttonText}}</button>
                  </div>                                                   
                </div>
               
                <div class="row">
                  
                </div>
              </form>
              <div  *ngIf="isShown"  class="row create-table">
                <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-left"> -->
                  <h3 class="text-center table-title">INSTRUCTORS LIST</h3>
                  <!-- </div> -->
                  <div class="container">
                    <mat-table #table [dataSource]="GetInstructorByParameters" matSort class="mat-cell ">               
                      <ng-container matColumnDef="ser">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ser: </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                      </ng-container>  
    
                      <ng-container matColumnDef="courseModule">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Module </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.courseModule}} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="bnaSubjectName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> BNA Subject Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.bnaSubjectName}} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="trainee">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Instructor</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.traineeRank}} {{element.trainee}}   <span class="t-n-pno-d">(P No {{element.traineePno}})</span> </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button mat-raised-button class="custom-btn courseplan-btn"  (click)="stopCourseInstructor(element)"
                            (click)="$event.stopPropagation()">{{ element.status == 0 ? 'Running' : 'Stop'}}
                          </button>
                        </mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                          <button mat-icon-button color="accent" class="btn-tbl-edit" 
                          [routerLink]="['/bna-subject-management/update-subjectinstructor', row.courseInstructorId]">
                            <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                            (click)="deleteItem(row)">
                            <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                          </button>
                        </mat-cell>
                      </ng-container>
    
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

