<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Weekly Routine Program</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Weekly Routine Program</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">   
                <div class="materialTableHeader"> 
                  <div class="row">
                    <div class="col-8">
                      <!-- <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                        </li>
                      </ul> -->
                      <div class="row">
                        <form  [formGroup]="RoutineBySectionForm">
                          <div class="row">
                            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 mb-2">
                              <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <mat-label>Course Week</mat-label>                        
                                    <mat-select formControlName="courseWeekId" required  (selectionChange)="onWeekSelectionChangeGet()">
                                      <mat-option  value="">--Select--</mat-option >
                                        <mat-option *ngFor="let dropdown of selectedWeek" [value]="dropdown.value">
                                            {{dropdown.text}}  
                                          </mat-option>                          
                                    </mat-select>
                                    <mat-error *ngIf="RoutineBySectionForm.get('courseWeekId').hasError('required')">
                                      Course Week is Required!
                                    </mat-error>
                                </mat-form-field>
                                </div>  
                                <div *ngIf="role != userRole.Student" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <mat-label>Course Section </mat-label>
                                    <mat-select formControlName="courseSectionId" required (selectionChange)="onCourseSelectionGet()">
                                      <mat-option value="0">--Select--</mat-option>
                                      <mat-option *ngFor="let dropdown of sectionList" [value]="dropdown.value">
                                        {{dropdown.text}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="RoutineBySectionForm.get('courseSectionId').hasError('required')">
                                      Course Section is Required!
                                    </mat-error>
                                  </mat-form-field>
                                </div>  
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-3">
                                  <p style=" border: 1px solid; text-align: center; border-radius: 15px; ">{{runningWeek}} / {{totalWeek}} Week</p>
                                </div>
                              </div>                  
                            </div>
                            
                                            
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <!-- <button class="btn-space"  mat-raised-button
                            color="warn" routerLink="/admin/dashboard/school-dashboard"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button> -->
                            <!-- <button *ngIf="role == userRole.Director" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/main']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button> -->

                            <button *ngIf="role == userRole.Student" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/trainee-dashboard']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>

                            <button *ngIf="role != userRole.MasterAdmin && role != userRole.Student && role != userRole.SuperAdmin || role != userRole.BNASchool || role != userRole.JSTISchool && role != userRole.CO" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/weeklyprogramdashboard',schoolId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                            
                            <button *ngIf="role == userRole.SuperAdmin || role === userRole.BNASchool || role === userRole.JSTISchool || role == userRole.CO" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/school-dashboard']"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>

                            <button *ngIf="role === userRole.MasterAdmin" class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/view-runningcourses/',courseTypeId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>

                          </div>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>  
                <div id="print-routine">          
                  <table   mat-table [dataSource]="selectedRoutineByParametersAndDate" class="mat-elevation-z8 demo-table dynamic-tbl-forroutine first-col-hide">
                    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
                      <th class="rotate" mat-header-cell *matHeaderCellDef>
                        <div><span>{{col}}</span></div>
                      </th>
                      <td mat-cell *matCellDef="let element">                          
                        <span style="color: #000;font-weight:bold;" *ngIf="element[col] !=null && element[col].includes('Exam')">{{element[col]}} </span>
                        <span *ngIf="element[col] !=null && !element[col].includes('Exam')">{{element[col]}} </span>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <!-- <div>
                    <p class="sub-short-list">
                      <span *ngFor="let number of getSubjectsByRoutineList;">{{number.subjectName}}-{{number.subjectShortName}}, </span>
                    </p>
                  </div> -->
                  <div style="background-color: #fff;color: #000;">
                    <p class="sub-short-list">
                      <span *ngFor="let number of getSubjectsByRoutineList;">{{number.subjectName}}-{{number.subjectShortName}}, </span>
                    </p>
                  </div>
                  <div class="only-for-print" style="width:40%;float:left;">
                    <table class="no-border-table">
                      <tr>
                        <th class="legend-cell" colspan="2">LEGEND</th>
                      </tr>
                      <tr>
                        <th>Instructor</th>
                        <th>Code</th>
                      </tr>
                      <tr *ngFor="let number of subjectlistBySchoolAndCourse;">
                        <td>{{number.ssrank}} {{number.name}} {{number.pno}}</td>
                        <td>{{number.shortCode}}</td>
                      </tr>
                    </table>
                  </div>
                  <div *ngIf="routineNotesList.length" class="only-for-print" style="width:60%;float:left;">
                    <table class="no-border-table">
                      <tr>
                        <th  colspan="2">Routine Note List</th>
                      </tr>
                      <tr>
                        <th>Subject Short Name</th>
                        <th class="cell-routine-note">Routine Note</th>
                      </tr>
                      <tr *ngFor="let number of routineNotesList;">
                        <td>{{number.periodName}}</td>
                        <td class="cell-routine-note">{{number.routineNotes}}</td>
                      </tr>
                    </table>
                  </div>
                  <br>
                  <!-- <br class="only-for-print">
                  <br class="only-for-print">
                  <br class="only-for-print">
                  <br class="only-for-print">
                  <h3 class="only-for-print">Routine Note List</h3>
                  <table class="table  tbl-by-group db-li-s-in only-for-print">
                    <thead>
                      <tr>
                        <th ><h5>Ser.</h5></th>
                        <th ><h5>Subject Short Name</h5></th>
                        <th ><h5>Routine Note</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let number of routineNotesList;let i = index;">
                        <td>{{i+1}} </td>
                        <td>{{number.periodName}} </td>
                        <td>{{number.routineNotes}} </td>
                      </tr>        
                    </tbody>
                  </table>
                  <br class="only-for-print">
                  <br class="only-for-print">
                  <h3 class="only-for-print">Subject List</h3>
                  <table class="table  tbl-by-group db-li-s-in only-for-print">
                    <thead>
                      <tr>
                        <th ><h5>Ser.</h5></th>
                        <th ><h5>Subject Name</h5></th>
                        <th ><h5>Short Name</h5></th>
                        <th ><h5>Instructor Name</h5></th>
                        <th ><h5>Instructor Short Name</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let number of subjectlistBySchoolAndCourse;let i = index;">
                        <td>{{i+1}} </td>
                        <td>{{number.subjectName}} </td>
                        <td> {{number.subjectShortName}} </td>
                        <td> {{number.ssrank}} {{number.name}} {{number.pno}} </td>
                        <td> {{number.shortCode}} </td>
                      </tr>        
                    </tbody>
                  </table> -->
                 
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left m-t-20">
                  <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                    <mat-icon class="col-white">print</mat-icon>
                  </button>
                </div>
                <div class="row">
                  <div *ngIf="routineNotesList.length" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 routine">
                    
                    <div class="card">
                      <div class="header">
                      </div>
                      <div class="body">
                        <div class="row dash-cd-m-0">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left">
                            <h3>Routine Note List</h3>
                          </div>
                        </div>
                        <div class="table-responsive">
          
                          <mat-table #table [dataSource]="routineNotesList" matSort class="table table-hover absent-list mat-cell db-tbl routine-note-trainee">
                            <ng-container matColumnDef="ser">
                              <mat-header-cell class="ser-col"  *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                              <mat-cell class="ser-col" *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                            </ng-container>       
                            <ng-container matColumnDef="routineName">
                              <mat-header-cell class="sub-col" *matHeaderCellDef mat-sort-header> Subject Short Name </mat-header-cell>
                              <mat-cell class="sub-col" *matCellDef="let element"> {{element.periodName}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="routineNote">
                              <mat-header-cell class="note-col" *matHeaderCellDef mat-sort-header> Routine Note </mat-header-cell>
                              <mat-cell class="note-col" *matCellDef="let element"> {{element.routineNotes}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedRoutineNoteColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedRoutineNoteColumns;"></mat-row>
                          </mat-table>      
                        </div>
                      </div>
                    </div>
                    <!-- <div class="card">
                      <div class="header">
                      </div>
                      <div class="body">
                        <div class="row dash-cd-m-0">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left">
                            <h3>Period List</h3>
                          </div>
                        </div>
                        <div class="table-responsive">
          
                          <mat-table #table [dataSource]="periodListByBaseSchoolAndCourse" matSort class="table table-hover absent-list mat-cell db-tbl routine-detail-trainee">
                            <ng-container matColumnDef="ser">
                              <mat-header-cell  *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                              <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                            </ng-container>       
                            <ng-container matColumnDef="periodName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Period </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.periodName}}</mat-cell>
                            </ng-container>
          
                            <ng-container matColumnDef="duration">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.durationForm}} - {{element.durationTo}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedPeriodListColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedPeriodListColumns;"></mat-row>
                          </mat-table>    
                        </div>
                      </div>
                    </div> -->
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 routine">
                    <div class="card">
                      <div class="header">
                      </div>
                      <div class="body">
                        <div class="row dash-cd-m-0">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-class div-left">
                            <h3>Subject/Instructor List</h3>
                          </div>
                        </div>
                        <div class="table-responsive">
          
                          <mat-table #table [dataSource]="subjectlistBySchoolAndCourse" matSort class="table table-hover absent-list mat-cell db-tbl routine-detail-trainee">
                            <ng-container matColumnDef="ser">
                              <mat-header-cell  *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                              <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                            </ng-container>       
                            <!-- <ng-container matColumnDef="subjectName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Subject Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.subjectName}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="subjectShortName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Short Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.subjectShortName}}</mat-cell>
                            </ng-container> -->
                            <ng-container matColumnDef="instructorName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Instructor Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.ssrank}} {{element.name}} - {{element.pno}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="instructorShortCode">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Short Code </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.shortCode}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedSubjectListColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedSubjectListColumns;"></mat-row>
                          </mat-table>    
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

