<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Subject Module List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1"> 
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;"> Subject Module List</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader jco-result-table"> 
                  <div class="row">
                    <div class="col-8">
                      <div class="row jco-result-title">
                          <b>Course Name: {{course}}</b><br>
                          <b>Subject Name: {{subject}} </b><br>
                          <p>Pass Mark : {{passMark}} Total Mark: {{totalMark}}</p>
                      </div>
                    </div>

                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                              <mat-icon class="col-white">print</mat-icon>
                            </button>
                            <button class="btn-space"  mat-raised-button
                            color="warn" [routerLink]="['/admin/dashboard/view-subjectresultjcos',courseDurationId]"> 
                            <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                            </button>
                          </div>
                      </ul>
                    </div>
                  </div>
                </div>

            
                <div id="print-routine">
                  
                  <table class="table mat-table  tbl-by-group db-tbl jco-result">
                    <thead>
                      <tr>
                        <th class="cl-srl"><h5>Ser</h5></th>
                        <th class="cl-nm"><h5>Trainee</h5></th>
                        <th class="cl-mrk"><h5>Index No</h5></th>
                        <th class="cl-mrk"><h5>Obtained Mark</h5></th>
                        <th class="cl-mrk"><h5>Result Status</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let data of JcoResultBySubject;">
                        
                        <tr *ngFor="let number of JcoResultBySubject;let i= index;">
                          <td class="cl-srl">{{i+1}}</td>
                          <td class="cl-nm">{{number.name}}(P No {{number.pno}})</td>
                          <td>{{number.indexNo}}</td>
                          <td>{{number.obtaintMark}}</td>
                          <!-- <td>{{number.examDate | date:'mediumDate'}}</td> -->
                          <td>{{ number.resultStatus == 0 ? 'Fail' : 'Pass' }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
   

